<template>
    <div
        v-if="isActive"
        class="compTabs__content"
        :class="{active: isActive}">
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: "compTab",

    props: {
        tablinkText: {
            type: String,
            default: "Tab label",
        },
        tablinkIconPath: {
            type: String,
            // required: true,
        },
    },

    data() {
        return {
            isActive: true,
        };
    },
};
</script>
