<template>
    <div class="compTabs">
        <ul class="compTabs__links">
            <li
                v-for="(tab, index) in tabs"
                :key="tab.tablinkText"
                :class="{active: index == selectedIndex}"
                class="compTabs__link"
                @click="selectTab(index)">
                <div
                    class="compTabs__link-icon"
                    :style="{
                        '-webkit-mask': 'url(' + tab.tablinkIconPath + ') no-repeat center',
                        mask: 'url(' + tab.tablinkIconPath + ') no-repeat center',
                    }" />
                <p class="compTabs__link-text">{{ tab.tablinkText }}</p>
            </li>
        </ul>
        <div class="compTabs__contents">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: "compTabs",
    props: {
        tabActiveindex: {
            type: Number,
            default: 0,
        },
    },
    data() {
        return {
            selectedIndex: null,
            tabs: [],
        };
    },
    created() {
        this.tabs = this.$children;
    },
    mounted() {
        this.selectTab(this.tabActiveindex || 0);
    },
    methods: {
        selectTab(i) {
            this.selectedIndex = i;

            this.tabs.forEach((tab, index) => {
                tab.isActive = index === i;
            });
        },
    },
};
</script>
