<template>
    <div
        class="tdb-rightbar__dropdown tdbrb-dropdown"
        :class="{opened: isOpen && drpHasBody}">
        <div
            class="tdbrb-dropdown__toggler"
            @click="isOpen = !isOpen">
            <img
                class="tdbrb-dropdown__toggler-img"
                :src="drpIcon"
                alt="icon" />
            <p class="tdbrb-dropdown__toggler-text">{{ drpLabel }}</p>
            <img
                src="@/assets/icons/icon-dropdown-menu.svg"
                alt="icon"
                class="tdbrb-dropdown__toggler-dropdown" />
        </div>
        <div class="tdbrb-dropdown__body">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: "CompRightbarDropdown",
    props: {
        drpLabel: {
            type: String,
            default: "Label",
        },
        drpIcon: {
            type: String,
            default: require("@/assets/icons/icon-rightbar-skoring.svg"),
        },
        drpHasBody: {
            type: Boolean,
            default: true,
        },
        drpIsOpen: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            isOpen: this.drpIsOpen,
        };
    },
};
</script>

<style></style>
