<template>
    <div class="tdb-invoices">
        <div class="tdb-invoices__header">
            <h1 class="tdb-invoices__header-title">Barcha arizalar</h1>
            <CompButton
                class="tdb-invoices__header-btn"
                :buttonType="'primary'"
                :buttonLabel="'Yangi ariza'"
                :buttonRightIcon="require('@/assets/icons/icon-add.svg')" />
        </div>
        <div class="tdb-invoices__body">
            <div class="tdb-invoices__filters">
                <CompFilterselect
                    v-for="(item, index) in filters"
                    :key="index"
                    :selectWidth="item.width"
                    :selectLabel="item.name"
                    :selectOptions="item.options"
                    :selectSelected="item.selected"
                    @selected="item.selected = $event" />
            </div>

            <CompTable
                :tableNumerationStart="1"
                :tableCurrentPage="table.pagination.current"
                :tableTotalPages="table.pagination.total"
                :tableHead="table.tableHead"
                :tableBody="table.tableBody"
                :tableFooter="table.tableFooter"
                :tableRowHoverable="true"
                @actionPaginated="table.pagination.current = $event"
                @actionClick="tableClick"
                @actionFilter="filtert" />
        </div>

        <!-- <CompDate
            :datepickLabel="'Ariza yaratilgan sana'"
            :datepickWidth="'300px'"
            :datepickValue="date"
            @modified="date = $event" /> -->
    </div>
</template>

<script>
import CompButton from "@/components/FormElements/compButton.vue";
// import CompDate from "@/components/FormElements/compDatepick.vue";
import CompTable from "@/components/FormElements/compTable.vue";
import CompFilterselect from "@/components/FormElements/compFilterselect.vue";
// import CompTabs from "@/components/tabElements/compTabs.vue";
// import CompTablink from "@/components/tabElements/compTablinks.vue";
// import CompTabcontent from "@/components/tabElements/compTabcontents.vue";

export default {
    name: "viewInvoices",
    components: {
        // CompDate,
        CompButton,
        CompTable,
        CompFilterselect,
    },
    data() {
        return {
            tabs: {
                current: 1,
                tablinks: [
                    {
                        id: 1,
                        label: "Ma’lumotlar",
                        icon: "aaaa",
                    },
                    {
                        id: 2,
                        label: "To’lovlar",
                        icon: "aaaa",
                    },
                    {
                        id: 3,
                        label: "Xabarlar",
                        icon: "aaaa",
                    },
                    {
                        id: 4,
                        label: "Fayllar",
                        icon: "aaaa",
                    },
                    {
                        id: 5,
                        label: "Talabnomalar",
                        icon: "aaaa",
                    },
                    {
                        id: 6,
                        label: "Boshqalar",
                        icon: "aaaa",
                    },
                ],
            },
            table: {
                tableHead: [
                    {
                        key: "column_1",
                        width: "20%",
                        value: "Id",
                        isTextCentered: false,
                        isFilterable: true,
                    },
                    {
                        key: "column_2",
                        width: "20%",
                        value: "Soxa",
                        isTextCentered: false,
                        isFilterable: true,
                    },
                    {
                        key: "column_3",
                        width: "20%",
                        value: "Mijoz nomi",
                        isTextCentered: false,
                        isFilterable: true,
                    },
                    {
                        key: "column_4",
                        width: "20%",
                        value: "Bank nomi",
                        isTextCentered: false,
                        isFilterable: true,
                    },
                    {
                        key: "column_5",
                        width: "20%",
                        value: "Viloyat",
                        isTextCentered: false,
                        isFilterable: true,
                    },
                    {
                        key: "column_6",
                        width: "20%",
                        value: "Sana",
                        isTextCentered: false,
                        isFilterable: true,
                    },
                    {
                        key: "column_7",
                        width: "20%",
                        value: "Holati",
                        isTextCentered: false,
                        isFilterable: true,
                    },
                ],
                tableBody: [
                    {
                        column_1: "056",
                        column_2: "Eksport",
                        column_3: "Cyber Technology LLC",
                        column_4: "Agrobank ATB",
                        column_5: "Toshkent shahar",
                        column_6: "02.06.2023",
                        column_7: "<div> <p style='display: inline-block; border-radius: 6px; color: #9B51E0; background: #F5EBFF; padding: 5px 10px;' > Kiritilgan </p> </div>",
                    },
                    {
                        column_1: "056",
                        column_2: "Eksport",
                        column_3: "Cyber Technology LLC",
                        column_4: "Agrobank ATB",
                        column_5: "Toshkent shahar",
                        column_6: "02.06.2023",
                        column_7: "<div> <p style='display: inline-block; border-radius: 6px; color: #9B51E0; background: #F5EBFF; padding: 5px 10px;' > Kiritilgan </p> </div>",
                    },
                    {
                        column_1: "056",
                        column_2: "Eksport",
                        column_3: "Cyber Technology LLC",
                        column_4: "Agrobank ATB",
                        column_5: "Toshkent shahar",
                        column_6: "02.06.2023",
                        column_7: "<div> <p style='display: inline-block; border-radius: 6px; color: #F56A61; background: #FFECE8; padding: 5px 10px;' > Bekor qilingan </p> </div>",
                    },
                    {
                        column_1: "056",
                        column_2: "Quyonchilik",
                        column_3: "Cyber Technology LLC",
                        column_4: "Agrobank ATB",
                        column_5: "Toshkent shahar",
                        column_6: "02.06.2023",
                        column_7: "<div> <p style='display: inline-block; border-radius: 6px; color: #F56A61; background: #FFECE8; padding: 5px 10px;' > Bekor qilingan </p> </div>",
                    },
                    {
                        column_1: "056",
                        column_2: "Eksport",
                        column_3: "Cyber Technology LLC",
                        column_4: "Agrobank ATB",
                        column_5: "Toshkent shahar",
                        column_6: "02.06.2023",
                        column_7: "<div> <p style='display: inline-block; border-radius: 6px; color: #F56A61; background: #FFECE8; padding: 5px 10px;' > Bekor qilingan </p> </div>",
                    },
                    {
                        column_1: "056",
                        column_2: "Baliqchilik",
                        column_3: "Cyber Technology LLC",
                        column_4: "Agrobank ATB",
                        column_5: "Toshkent shahar",
                        column_6: "02.06.2023",
                        column_7: "<div> <p style='display: inline-block; border-radius: 6px; color: #F56A61; background: #FFECE8; padding: 5px 10px;' > Bekor qilingan </p> </div>",
                    },
                    {
                        column_1: "056",
                        column_2: "Eksport",
                        column_3: "Cyber Technology LLC",
                        column_4: "Agrobank ATB",
                        column_5: "Toshkent shahar",
                        column_6: "02.06.2023",
                        column_7: "<div> <p style='display: inline-block; border-radius: 6px; color: #F56A61; background: #FFECE8; padding: 5px 10px;' > Bekor qilingan </p> </div>",
                    },
                    {
                        column_1: "056",
                        column_2: "Eksport",
                        column_3: "Cyber Technology LLC",
                        column_4: "Agrobank ATB",
                        column_5: "Toshkent shahar",
                        column_6: "02.06.2023",
                        column_7: "<div> <p style='display: inline-block; border-radius: 6px; color: #F56A61; background: #FFECE8; padding: 5px 10px;' > Bekor qilingan </p> </div>",
                    },
                    {
                        column_1: "056",
                        column_2: "Yilqichilik",
                        column_3: "Cyber Technology LLC",
                        column_4: "Agrobank ATB",
                        column_5: "Toshkent shahar",
                        column_6: "02.06.2023",
                        column_7: "<div> <p style='display: inline-block; border-radius: 6px; color: #9B51E0; background: #F5EBFF; padding: 5px 10px;' > Kiritilgan </p> </div>",
                    },
                    {
                        column_1: "056",
                        column_2: "Eksport",
                        column_3: "Cyber Technology LLC",
                        column_4: "Agrobank ATB",
                        column_5: "Toshkent shahar",
                        column_6: "02.06.2023",
                        column_7: "<div> <p style='display: inline-block; border-radius: 6px; color: #F56A61; background: #FFECE8; padding: 5px 10px;' > Bekor qilingan </p> </div>",
                    },
                ],
                pagination: {
                    current: 2,
                    total: 20,
                },
            },
            filters: [
                {
                    key: "status",
                    name: "So’rov holat",
                    width: "230px",
                    options: [
                        {
                            id: "optionid1",
                            name: "Filled",
                        },
                        {
                            id: "optionid2",
                            name: "Rejected",
                        },
                        {
                            id: "optionid3",
                            name: "Accepted",
                        },
                    ],
                    selected: null,
                },
                {
                    key: "bank",
                    name: "Bosh bank",
                    width: "230px",
                    options: [
                        {
                            id: "optionid1",
                            name: "Asaka bank",
                        },
                        {
                            id: "optionid2",
                            name: "Ipoteka bank",
                        },
                        {
                            id: "optionid3",
                            name: "Ipak yuli bank",
                        },
                    ],
                    selected: null,
                },
                {
                    key: "state",
                    name: "Viloyat",
                    width: "230px",
                    options: [
                        {
                            id: "optionid1",
                            name: "Toshkent",
                        },
                        {
                            id: "optionid2",
                            name: "Samarqand",
                        },
                        {
                            id: "optionid3",
                            name: "Navoi",
                        },
                    ],
                    selected: null,
                },
                {
                    key: "district",
                    name: "Tuman",
                    width: "230px",
                    options: [
                        {
                            id: "optionid1",
                            name: "Shayhontohur",
                        },
                        {
                            id: "optionid2",
                            name: "Mirobod",
                        },
                        {
                            id: "optionid3",
                            name: "Yunusobod",
                        },
                    ],
                    selected: {
                        id: "optionid1",
                        name: "Shayhontohur",
                    },
                },
            ],
            date: "2000-12-23",
        };
    },
    methods: {
        filtert(eve) {
            console.log("Filter propertylar", eve);
            alert("Filter property logda chiqdi!");
        },

        tableClick(e) {
            console.log(e);
            alert("Bosilgan row propertlari logda chiqdi!");
        },

        log(e, index) {
            console.log(e, index);
        },
    },
};
</script>

<style lang="scss">
@import "./viewInvoices.scss";
</style>
