.tdb-invoices {
    padding: 25px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;

        &-back {
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            cursor: pointer;
            flex-shrink: 0;
            border-radius: 8px;
            border: 1px solid #e5eaee;
            background: #fff;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0.02);
        }

        &-title {
            flex-grow: 1;
            color: #080b11;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-right: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            line-clamp: 1;
            box-orient: vertical;
        }

        &-btn {
            margin: 0;
        }
    }

    &__filters {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 15px;
    }
}
