<template>
    <div class="tdb-invoices">
        <div class="tdb-invoices__header">
            <span class="tdb-invoices__header-back">
                <img
                    src="@/assets/icons/icon-arrow.svg"
                    alt="arrow" />
            </span>
            <h1 class="tdb-invoices__header-title">Buyurtmanoma №0056</h1>
            <CompButton
                class="tdb-invoices__header-btn"
                :buttonLabel="'O’zgartirish'"
                :buttonType="'primary'" />
            <CompButton
                class="tdb-invoices__header-btn"
                :buttonLabel="'O’zgarishlar jadvali'" />
        </div>
        <div class="tdb-invoices__body">
            <CompTabs :tabActiveindex="tabs.current">
                <CompTab
                    :tablinkText="tabs.tablinks[0].label"
                    :tablinkIconPath="tabs.tablinks[0].icon">
                    <div class="tdb-invoice">
                        <div class="tdb-invoice__infolist">
                            <table class="tdb-invoice__infolist-table">
                                <tr>
                                    <td>Imtiyoz turi</td>
                                    <td>Kafillik</td>
                                </tr>
                                <tr>
                                    <td>Bank</td>
                                    <td>“Agbrobank” ATB Oltiariq filiali</td>
                                </tr>
                                <tr>
                                    <td>Mijoz</td>
                                    <td>Cyber Technology LLC</td>
                                </tr>
                                <tr>
                                    <td>Rahbar</td>
                                    <td>Tursunov Jalolbek Bositovich</td>
                                </tr>
                                <tr>
                                    <td>Ishchilar soni</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>Hisob raqam</td>
                                    <td>20203456789590439231290</td>
                                </tr>
                                <tr>
                                    <td>Manzil</td>
                                    <td>Toshkent shahr, Yashnabod tumani, O’rtayo’l ko’chasi, 88-uy</td>
                                </tr>
                                <tr>
                                    <td>Skoring ko’rsatkichi</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Telefon</td>
                                    <td>+998 90 000 00 00</td>
                                </tr>
                                <tr>
                                    <td>Loyiha</td>
                                    <td>Umumiy qiymati: 1 000 000 000.00 so’m; Mijozning o’z mablag’i: 500 000 000.00 so’m; Ulushi: 50,00 %</td>
                                </tr>
                                <tr>
                                    <td>IFUT kodi</td>
                                    <td>62020 Kompyuter texnologiyalari sohasidagi maslahat xizmatlari (Консультационные услуги в области компьютерных технологий)</td>
                                </tr>
                                <tr>
                                    <td>Qaror</td>
                                    <td>PF - 6091 / 2020-yil, 21-oktabr</td>
                                </tr>
                                <tr>
                                    <td>Yaratiladigan ish o’rni</td>
                                    <td>4 (1-Ayollar uchun yaratiladigan ish o’rinlari)</td>
                                </tr>
                                <tr>
                                    <td>Ta’minot</td>
                                    <td>Jami: 1 250 000 000.00 so’m Jamg’arma kafilligi: 250 000 000.00 so’m Garov ta’minoti: 1 000 000 000.00 so’m</td>
                                </tr>
                                <tr>
                                    <td>Kredit moilyalashtirish manbai</td>
                                    <td>Islom taraqqiyot banki (Islamic Development Bank)</td>
                                </tr>
                                <tr>
                                    <td>Kredit maqsadi</td>
                                    <td>Biznes ochish uchun</td>
                                </tr>
                                <tr>
                                    <td>Qo’shimcha qaror</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Yordam amal muddati</td>
                                    <td>Kredit shartnomasi muddatiga mos ravishda</td>
                                </tr>
                                <tr>
                                    <td>Yordam miqdori</td>
                                    <td>250 000 000.00 so’m</td>
                                </tr>
                                <tr>
                                    <td>Markaziy bankning kredit maqsadlari</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Miliya instituti</td>
                                    <td>Jahon banki guruhi (World Bank Group)</td>
                                </tr>
                                <tr>
                                    <td>Maliyalashtirish manbai bo’yicha ajratilgan mablag’lar</td>
                                    <td>Avto Kredit</td>
                                </tr>
                                <tr>
                                    <td>Log</td>
                                    <td>56898459030920945</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tdb-invoice__tableblock">
                            <div class="tdb-invoice__tableblock-titling">
                                <h2 class="tdb-invoice__tableblock-title">Tasischilar</h2>
                            </div>

                            <CompTable
                                class="tdb-invoice__tableblock-table"
                                :tableNumerationStart="1"
                                :tableHead="table_tasischilar.tableHead"
                                :tableBody="table_tasischilar.tableBody"
                                :tableRowHoverable="true" />
                        </div>

                        <div class="tdb-invoice__tableblock">
                            <div class="tdb-invoice__tableblock-titling">
                                <h2 class="tdb-invoice__tableblock-title">Kreditlar</h2>

                                <CompButton
                                    class="tdb-invoice__tableblock-btn"
                                    :buttonLabel="'Kredit tarixini ko’rish'"
                                    :buttonLeftIcon="require('@/assets/icons/icon-history.svg')" />
                            </div>

                            <CompTable
                                class="tdb-invoice__tableblock-table"
                                :tableNumerationStart="1"
                                :tableHead="table_kreditlar.tableHead"
                                :tableBody="table_kreditlar.tableBody"
                                :tableRowHoverable="true" />
                        </div>

                        <div class="tdb-invoice__tableblock">
                            <div class="tdb-invoice__tableblock-titling">
                                <h2 class="tdb-invoice__tableblock-title">Garov ta’minoti</h2>

                                <CompButton
                                    class="tdb-invoice__tableblock-btn"
                                    :buttonLabel="'Garov ta’minoti tarixini ko’rish'"
                                    :buttonLeftIcon="require('@/assets/icons/icon-history.svg')" />
                            </div>

                            <CompTable
                                class="tdb-invoice__tableblock-table"
                                :tableNumerationStart="1"
                                :tableHead="table_garovtm.tableHead"
                                :tableBody="table_garovtm.tableBody"
                                :tableRowHoverable="true" />
                        </div>

                        <div class="tdb-invoice__tableblock">
                            <div class="tdb-invoice__tableblock-titling">
                                <h2 class="tdb-invoice__tableblock-title">Anketa ma’lumotlari (Tijorat banki tomonidan to’ldirilgan)</h2>
                            </div>

                            <CompTable
                                class="tdb-invoice__tableblock-table lineclamp-unlim"
                                :tableNumerationStart="1"
                                :tableHead="table_anketa.tableHead"
                                :tableBody="table_anketa.tableBody"
                                :tableRowHoverable="true" />
                        </div>

                        <div class="tdb-invoice__tableblock">
                            <div class="tdb-invoice__tableblock-titling">
                                <h2 class="tdb-invoice__tableblock-title">Buyurtmanoma</h2>
                            </div>

                            <CompTable
                                class="tdb-invoice__tableblock-table"
                                :tableNumerationStart="1"
                                :tableHead="table_buyurtma.tableHead"
                                :tableBody="table_buyurtma.tableBody"
                                :tableRowHoverable="true" />
                        </div>

                        <div class="tdb-invoice__tableblock">
                            <div class="tdb-invoice__tableblock-titling">
                                <h2 class="tdb-invoice__tableblock-title">Tashqi manbaa</h2>
                            </div>

                            <CompTable
                                class="tdb-invoice__tableblock-table"
                                :tableNumerationStart="1"
                                :tableHead="table_manbaa.tableHead"
                                :tableBody="table_manbaa.tableBody"
                                :tableRowHoverable="true" />
                        </div>
                    </div>
                </CompTab>
            </CompTabs>
        </div>
        <div class="tdb-invoices__rightbar tdb-rightbar">
            <RightCompDropdown
                :drpHasBody="false"
                :drpLabel="'Buyurtmanoma'"
                :drpIcon="require('@/assets/icons/icon-rightbar-buyurtma.svg')" />
            <RightCompDropdown
                :drpLabel="'Skoring'"
                :drpIsOpen="true"
                :drpIcon="require('@/assets/icons/icon-rightbar-skoring.svg')">
                <div class="tdb-rbskoring">
                    <img
                        src="@/assets/icons/icon-warning.svg"
                        alt="icon"
                        class="tdb-rbskoring__icon" />
                    <h3 class="tdb-rbskoring__title">Diqqat!</h3>
                    <p class="tdb-rbskoring__desc">Buyurtmangiz skoring tahlilidan o’tkazildi. Natijani ko’rish uchun shu yerga bosing</p>
                </div>
            </RightCompDropdown>
            <RightCompDropdown
                :drpHasBody="false"
                :drpLabel="'Yordam muddati'"
                :drpIcon="require('@/assets/icons/icon-duration.svg')" />

            <div class="tdb-rbblock">
                <div class="tdb-rbblock__status">
                    <h3 class="tdb-rbblock__title">Holati</h3>
                    <span class="tdb-rbblock__status-label">Bekor qilingan</span>
                    <p class="tdb-rbblock__status-desc">Skoringdan rad etildi</p>
                </div>
                <div class="tdb-rbblock__order">
                    <h3 class="tdb-rbblock__title">Yig’ilish bayoni</h3>
                    <div class="tdb-rbblock__desc">№1011 / 05.06.2023 Masala №2/2</div>
                    <div class="tdb-rbblock__desctext">Men ovoz bermadim</div>
                    <CompButton
                        class="tdb-rbblock__btn"
                        :buttonLabel="'Ovoz berish'"
                        :buttonType="'primary'" />
                </div>
            </div>

            <div class="tdb-rbblock">
                <h3 class="tdb-rbblock__title">Taklif etilgan vositachilik haqqi foizi</h3>
                <div class="tdb-rbblock__desc">Foiz belgilanmagan</div>
                <CompButton
                    class="tdb-rbblock__btn"
                    :buttonLabel="'Moliyalashtirish manbai'" />
            </div>
        </div>
    </div>
</template>

<script>
import CompButton from "@/components/FormElements/compButton.vue";
import CompTabs from "@/components/TabsElements/compTabs.vue";
import CompTab from "@/components/TabsElements/compTab.vue";
import CompTable from "@/components/FormElements/compTable.vue";

import RightCompDropdown from "@/views/invoices/compRightDrpdwn.vue";

export default {
    name: "viewInvoices",
    components: {
        CompButton,
        CompTabs,
        CompTab,
        CompTable,
        RightCompDropdown,
    },
    data() {
        return {
            tabs: {
                current: 0,
                tablinks: [
                    {
                        id: 1,
                        label: "Ma’lumotlar",
                        icon: require("@/assets/icons/buyurtmalar/tabicon-1.svg"),
                    },
                    {
                        id: 2,
                        label: "To’lovlar",
                        icon: require("@/assets/icons/buyurtmalar/tabicon-2.svg"),
                    },
                    {
                        id: 3,
                        label: "Xabarlar",
                        icon: require("@/assets/icons/buyurtmalar/tabicon-3.svg"),
                    },
                    {
                        id: 4,
                        label: "Fayllar",
                        icon: require("@/assets/icons/buyurtmalar/tabicon-4.svg"),
                    },
                    {
                        id: 5,
                        label: "Talabnomalar",
                        icon: require("@/assets/icons/buyurtmalar/tabicon-5.svg"),
                    },
                    {
                        id: 6,
                        label: "Boshqalar",
                        icon: require("@/assets/icons/buyurtmalar/tabicon-6.svg"),
                    },
                ],
            },
            table_tasischilar: {
                tableHead: [
                    {
                        key: "column_1",
                        width: "50%",
                        value: "Tasischilar",
                        isTextCentered: false,
                        isFilterable: true,
                    },
                    {
                        key: "column_2",
                        width: "50%",
                        value: "Ulushi",
                        isTextCentered: false,
                    },
                ],
                tableBody: [
                    {
                        column_1: "Yorqulov Umidjon Nazarovich",
                        column_2: "0",
                    },
                    {
                        column_1: "Yorqulov Umidjon Nazarovich",
                        column_2: "0",
                    },
                ],
            },
            table_kreditlar: {
                tableHead: [
                    {
                        key: "column_1",
                        width: "15%",
                        value: "Fond ID",
                        isTextCentered: false,
                        isFilterable: true,
                    },
                    {
                        key: "column_2",
                        width: "15%",
                        value: "Miqdori",
                        isTextCentered: false,
                    },
                    {
                        key: "column_3",
                        width: "15%",
                        value: "Yillik foizi",
                        isTextCentered: false,
                    },
                    {
                        key: "column_4",
                        width: "15%",
                        value: "Muddati",
                        isTextCentered: false,
                    },
                    {
                        key: "column_5",
                        width: "15%",
                        value: "Imtiyoz davri",
                        isTextCentered: false,
                    },
                    {
                        key: "column_6",
                        width: "15%",
                        value: "Miqdori so’mda",
                        isTextCentered: false,
                    },
                    {
                        key: "column_7",
                        width: "10%",
                        value: "Valyuta",
                        isTextCentered: false,
                    },
                ],
                tableBody: [
                    {
                        column_1: "156478",
                        column_2: "500 000 000",
                        column_3: "20 %",
                        column_4: "36",
                        column_5: "6",
                        column_6: "500 000 000",
                        column_7: "so’m",
                    },
                ],
            },
            table_garovtm: {
                tableHead: [
                    {
                        key: "column_1",
                        width: "25%",
                        value: "Garov mulki egasu",
                        isTextCentered: false,
                        isFilterable: true,
                    },
                    {
                        key: "column_2",
                        width: "25%",
                        value: "Garov mulki nomi",
                        isTextCentered: false,
                    },
                    {
                        key: "column_3",
                        width: "25%",
                        value: "Garovning kelishilgan qiymati",
                        isTextCentered: false,
                    },
                    {
                        key: "column_4",
                        width: "25%",
                        value: "Tur",
                        isTextCentered: false,
                    },
                ],
                tableBody: [
                    {
                        column_1: "Eshturdiev Umidjon",
                        column_2: "uy joy",
                        column_3: "100 000 000 so’m",
                        column_4: "Ko’chmas mulk",
                    },
                ],
            },
            table_anketa: {
                tableHead: [
                    {
                        key: "column_1",
                        width: "15%",
                        value: "Kichik biznes subyekti",
                        isTextCentered: false,
                        isFilterable: true,
                    },
                    {
                        key: "column_2",
                        width: "15%",
                        value: "Faoliyat yuritayotganligi",
                        isTextCentered: false,
                    },
                    {
                        key: "column_3",
                        width: "10%",
                        value: "Kredit tarixi",
                        isTextCentered: false,
                    },
                    {
                        key: "column_4",
                        width: "15%",
                        value: "Kredit qarzlari mavjudligi",
                        isTextCentered: false,
                    },
                    {
                        key: "column_5",
                        width: "15%",
                        value: "Muddati o’tgan budjet qarzlari mavjudligi",
                        isTextCentered: false,
                    },
                    {
                        key: "column_6",
                        width: "15%",
                        value: "Kredit shartnomasi holati",
                        isTextCentered: false,
                    },
                    {
                        key: "column_7",
                        width: "15%",
                        value: "Jamg’armaning amaldagi yordami",
                        isTextCentered: false,
                    },
                ],
                tableBody: [
                    {
                        column_1: "Ha",
                        column_2: "Faoliyat yuritayotgan",
                        column_3: "-",
                        column_4: "-",
                        column_5: "Бюджет олдидаги мажбурий тўловлардан 2023 йил «09» июндан вужудга келган 216,88 сўм муддати ўтган қарзи мавжуд",
                        column_6: "Imzolangan",
                        column_7: "-",
                    },
                ],
            },
            table_buyurtma: {
                tableHead: [
                    {
                        key: "column_1",
                        width: "20%",
                        value: "Foydalanuvchi",
                        isTextCentered: false,
                        isFilterable: true,
                    },
                    {
                        key: "column_2",
                        width: "20%",
                        value: "Boshqaruvchi",
                        isTextCentered: false,
                    },
                    {
                        key: "column_3",
                        width: "20%",
                        value: "Imzolovchi",
                        isTextCentered: false,
                    },
                    {
                        key: "column_4",
                        width: "20%",
                        value: "Ishonchnoma №",
                        isTextCentered: false,
                    },
                    {
                        key: "column_5",
                        width: "20%",
                        value: "Ish. sanasi",
                        isTextCentered: false,
                    },
                ],
                tableBody: [
                    {
                        column_1: "-",
                        column_2: "Mamajonov Xurshidbek",
                        column_3: "Imzolanmagan",
                        column_4: "009863",
                        column_5: "02.06.2023",
                    },
                ],
            },
            table_manbaa: {
                tableHead: [
                    {
                        key: "column_1",
                        width: "20%",
                        value: "Kichik biznes subyekti",
                        isTextCentered: false,
                        isFilterable: true,
                    },
                    {
                        key: "column_2",
                        width: "20%",
                        value: "Faoliyat yuritayotganligi",
                        isTextCentered: false,
                    },
                    {
                        key: "column_3",
                        width: "20%",
                        value: "Muddati o’tgan budjet qarzlari mavjudligi",
                        isTextCentered: false,
                    },
                    {
                        key: "column_4",
                        width: "20%",
                        value: "Jamg’armaning amaldagi moliyaviy yordami",
                        isTextCentered: false,
                    },
                    {
                        key: "column_5",
                        width: "20%",
                        value: "IFUT mosligi",
                        isTextCentered: false,
                    },
                    {
                        key: "column_6",
                        width: "20%",
                        value: "Log",
                        isTextCentered: false,
                    },
                ],
                tableBody: [
                    {
                        column_1: "Noma’lum",
                        column_2: "-",
                        column_3: "Noma’lum",
                        column_4: "Mavjud emas",
                        column_5: "Noma’lum",
                        column_6: "<a href='#!' class='loglink'>56898459030...</a>",
                    },
                ],
            },

            righbar_buyurtma: false,
            righbar_skoring: true,
        };
    },
    methods: {
        filtert(eve) {
            console.log("Filter propertylar", eve);
            alert("Filter property logda chiqdi!");
        },

        tableClick(e) {
            console.log(e);
            alert("Bosilgan row propertlari logda chiqdi!");
        },

        log(e, index) {
            console.log(e, index);
        },
    },
};
</script>

<style lang="scss">
@import "./viewInvoice.scss";
</style>
