.tdb-invoices {
    padding: 25px;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        width: 100%;

        &-back {
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            cursor: pointer;
            flex-shrink: 0;
            border-radius: 8px;
            border: 1px solid #e5eaee;
            background: #fff;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0.02);
        }

        &-title {
            flex-grow: 1;
            color: #080b11;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-right: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            line-clamp: 1;
            box-orient: vertical;
        }

        &-btn {
            margin: 0;
        }
    }

    &__body {
        width: 80%;
        padding: 0 25px 0 0;
        // border-top: 1px solid #e5eaee;
    }

    &__rightbar {
        width: 20%;
        // border-top: 1px solid #e5eaee;
        border-left: 1px solid #e5eaee;
        padding: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.tdbrb-dropdown {
    display: flex;
    flex-direction: column;
    min-height: 55px;
    overflow: hidden;
    transition: 0.3s;
    max-height: 55px;
    user-select: none;

    &__toggler {
        background: lightblue;
        border-radius: 8px;
        border: 1px solid #e5eaee;
        background: #fff;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0.02);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 15px;
        height: 55px;
        flex-shrink: 0;
        cursor: pointer;
        transition: 0.3s;

        &-text {
            color: #080b11;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px; /* 157.143% */
            letter-spacing: -0.14px;
            margin: 0 auto 0 5px;
        }

        &-dropdown {
            width: 20px;
            height: 20px;
            display: flex;
            object-fit: contain;
            transform: rotate(90deg);
            transition: 0.3s;
        }
    }

    &__body {
        padding: 15px;
        overflow: auto;
        border: 1px solid #e5eaee;
        background: #fff;
        border-radius: 0 0 8px 8px;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0.02);
        border-top-color: transparent;
        font-size: 14px;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    &.opened {
        max-height: 600px;
    }

    &.opened & {
        &__toggler {
            border-radius: 8px 8px 0 0;
            border-bottom-color: transparent;

            &-dropdown {
                transform: rotate(0deg);
            }
        }
    }
}

.tdb-invoice {
    display: flex;
    flex-direction: column;
    gap: 35px;

    &__infolist {
        &-table {
            border-collapse: collapse;

            tr {
                height: 40px;

                &:nth-child(odd) {
                    td {
                        border-radius: 6px;
                        background: rgba(243, 244, 244, 0.6);
                    }
                }
            }

            td {
                padding: 0 15px;

                &:first-child {
                    color: #5a5d63;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 142.857% */
                    letter-spacing: -0.14px;
                }

                &:nth-child(2) {
                    color: #080b11;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 142.857% */
                    letter-spacing: -0.14px;
                }
            }
        }
    }

    &__tableblock {
        &-titling {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-title {
            color: #080b11;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.16px;
        }

        .lineclamp-unlim {
            .compTable {
                &__item {
                    align-items: flex-start;
                }

                &__itemceil {
                    -webkit-line-clamp: unset;
                    line-clamp: unset;
                }
            }
        }
    }
}

.tdb-rbskoring {
    border-radius: 6px;
    background: #fff5e7;
    padding: 12px 12px 12px 40px;
    position: relative;

    &__icon {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 20px;
        height: 20px;
        display: flex;
    }

    &__title {
        color: #252729;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 142.857% */
        letter-spacing: -0.14px;
    }

    &__desc {
        color: #252729;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 138.462% */
    }
}

.tdb-rbblock {
    border-radius: 8px;
    border: 1px solid #e5eaee;
    background: #fff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0.02);
    padding: 15px;

    &__status {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 0 0 10px;
        margin: 0 0 10px;
        border-bottom: 1px solid #e5eaee;

        &-label {
            color: #080b11;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px; /* 142.857% */
            letter-spacing: -0.14px;
        }

        &-desc {
            color: #080b11;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &-label {
            color: #f56a61;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.13px;
            border-radius: 6px;
            background: #ffece8;
            display: flex;
            padding: 5px 8px;
        }
    }

    &__title {
        color: #080b11;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 142.857% */
        letter-spacing: -0.14px;
    }

    &__desc {
        color: #080b11;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: -0.14px;
    }

    &__desctext {
        color: #a1a6ac;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: -0.14px;
    }

    &__btn {
        margin-top: 15px;
    }
}
