<template>
    <div
        class="compInput"
        :style="{width: `calc(${inputWidth} - 15px)`}">
        <!-- :style="{width: inputWidth}"> -->
        <label>
            <input
                v-if="inputMask"
                :value="inputValue"
                :placeholder="inputPlaceholder"
                v-mask="inputMask"
                @input="handleInput"
                class="compInput-input"
                type="text" />
            <input
                v-else
                :value="inputValue"
                @input="handleInput"
                class="compInput-input"
                type="text" />
            <span class="compInput-placeholder">
                {{ inputLabel }}
            </span>
        </label>
    </div>
</template>

<script>
// import {mask} from "vue-the-mask";

export default {
    name: "compInput",
    props: {
        inputLabel: {
            type: String,
            default: "Input label text",
        },
        inputValue: {
            type: String,
            default: "",
        },
        inputMask: {
            type: String,
            default: "",
        },
        inputPlaceholder: {
            type: String,
            default: "Placeholder",
        },
        inputWidth: {
            type: String,
            default: "100%",
        },
    },
    computed: {},
    data() {
        return {
            // data: this.inputValue,
            // phoneNumber: "",
        };
    },
    // directives: {mask},

    methods: {
        handleInput(event) {
            this.$emit("modified", event.target.value);
        },
    },
};
</script>

