<template>
    <div
        class="compDatep"
        :style="{width: `calc(${datepickWidth} - 15px)`}">
        <p class="compDatep__label">{{ datepickLabel }}</p>
        <input
            class="compDatep__input"
            @input="handleInput"
            :value="datepickValue"
            type="date" />
    </div>
</template>

<script>
export default {
    name: "compDatepicker",
    props: {
        datepickLabel: {
            type: String,
            default: "Datepick label goes here",
        },
        datepickValue: {
            type: String,
            default: "2000-12-23",
        },
        datepickWidth: {
            type: String,
            default: "100%",
        },
    },
    methods: {
        handleInput(event) {
            this.$emit("modified", event.target.value);
        },
    },
};
</script>
