<template>
    <div
        class="compFilterselect__holder"
        :style="{width: `calc(${selectWidth} - 15px)`}">
        <div
            class="compFilterselect"
            :class="{opened: isOpened}">
            <div
                class="compFilterselect__toggler"
                @click="isOpened = !isOpened">
                <div class="compFilterselect__toggler-body">
                    <p class="compFilterselect__label">{{ selectLabel }}:</p>
                    <p
                        v-if="selectSelected"
                        class="compFilterselect__toggler-content">
                        {{ selectSelected.name }}
                    </p>
                    <p
                        v-else
                        class="compFilterselect__toggler-label">
                        Выбрать
                    </p>
                </div>
                <button class="compFilterselect__toggler-btn" />
            </div>
            <div
                ref="scrollBody"
                class="compFilterselect__body">
                <div class="compFilterselect__list">
                    <div
                        class="compFilterselect__list-item"
                        v-for="(item, index) in selectOptions"
                        :key="index + 'key'"
                        @click="setActive(item)">
                        <p>{{ item.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "compFilterselect",
    props: {
        selectLabel: {
            type: String,
            default: "Label",
        },
        selectOptions: {
            type: Array,
            default: () => [
                {
                    id: "optionid1",
                    name: "Tashkent",
                },
                {
                    id: "optionid2",
                    name: "Bukhara",
                },
                {
                    id: "optionid3",
                    name: "Samarkand",
                },
                {
                    id: "optionid4",
                    name: "Navoi",
                },
                {
                    id: "optionid5",
                    name: "Gulistan",
                },
                {
                    id: "optionid6",
                    name: "Andijan",
                },
            ],
        },
        selectSelected: {
            type: Object,
            default: null,
        },
        selectWidth: {
            type: String,
            default: "100%",
        },
    },

    mounted() {
        this.closeOnOutsideClick();
    },

    data() {
        return {
            isOpened: false,
            active: this.selectSelected,
        };
    },
    methods: {
        closeOnOutsideClick() {
            document.addEventListener("click", (event) => {
                const isOutside = !event.target.closest(".compFilterselect");
                if (isOutside) this.isOpened = false;
            });
        },

        setActive(item) {
            this.$emit("selected", item);
            this.isOpened = false;
        },
    },

    watch: {
        isOpened: function (val) {
            if (!val) {
                setTimeout(() => {
                    this.$refs.scrollBody.scrollTop = 0;
                }, 300);
            }
        },
    },
};
</script>
