<template>
    <div
        class="compInput"
        :style="{width: `calc(${inputWidth} - 15px)`}">
        <label>
            <input
                v-model="number"
                :placeholder="inputPlaceholder"
                class="compInput-input"
                type="text" />
            <span class="compInput-placeholder">
                {{ inputLabel }}
            </span>
        </label>
    </div>
</template>

<script>
export default {
    name: "compInputNumber",
    props: {
        inputPlaceholder: {
            type: String,
            default: "Placeholder",
        },
        inputLabel: {
            type: String,
            default: "Input label text",
        },
        inputValue: {
            type: Number,
            default: null,
        },
        inputFormattable: {
            type: Boolean,
            default: true,
        },
        inputWidth: {
            type: String,
            default: "100%",
        },
    },
    data() {
        return {
            number: parseInt(this.inputValue) || null,
        };
    },
    watch: {
        number: function (val) {
            let formatted = String(val.replace(/\D/g, "")).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, "$1 ");
            let notformatted = parseInt(val.replace(/\s+/g, ""), 10);
            this.number = formatted;
            this.$emit("modified", isNaN(notformatted) ? null : notformatted);
        },
    },
};
</script>
