<template>
    <div
        v-if="tableHead.length"
        class="compTable">
        <div class="compTable__head">
            <div
                v-if="tableHasNumeration"
                class="compTable__headceil noshrink"
                style="width: 60px">
                <p>№</p>
            </div>
            <div
                v-for="(item, id) in tableHead"
                :key="id + item.key"
                :style="{width: item.width}"
                class="compTable__headceil"
                :class="{textCentered: item.isTextCentered}">
                <div v-html="item.value"></div>
                <span
                    class="compTable__filterby"
                    :class="{asc: tableFilter.key === 'name' && tableFilter.dir === 'asc'}"
                    @click="setFilter(item.key)"
                    v-if="item.isFilterable"></span>
            </div>
        </div>
        <ul class="compTable__body">
            <li
                class="compTable__item"
                :class="{hoverable: tableRowHoverable}"
                @click="tableRowClick(item, id)"
                v-for="(item, id) in tableBody"
                :key="id">
                <div
                    v-if="tableHasNumeration"
                    class="compTable__itemceil noshrink textCentered"
                    style="width: 60px">
                    <p>{{ tableNumerationStart + id }}</p>
                </div>
                <div
                    v-for="(inItem, id2) in tableHead"
                    :key="'inner' + id2"
                    :style="{width: inItem.width}"
                    class="compTable__itemceil"
                    :class="{textCentered: inItem.isTextCentered}"
                    v-html="item[inItem.key]"></div>
            </li>
            <li
                v-if="tableFooter"
                class="compTable__footer">
                <div
                    v-for="(item, index) in Object.keys(tableFooter)"
                    :key="'inner' + index"
                    :style="{width: tableHead[index].width}"
                    class="compTable__itemceil tfooterceil"
                    :class="{textCentered: tableHead[index].isTextCentered}"
                    v-html="tableFooter[item]"></div>
            </li>
        </ul>
        <div
            v-if="tableTotalPages > 1"
            class="compTable__infobar">
            <p class="compTable__infobar-text">
                <span>{{ tableTotalData }}</span>
                ta natijadan
                <span>{{ tableNumerationStart }}</span>
                -
                <span>{{ tableNumerationStart + tableBody.length - 1 }}</span>
                ko’rsatilmoqda
            </p>

            <div class="compTable__infobar-pagination">
                <CompPagination
                    v-if="true"
                    class="compTable__pagination"
                    @paginated="$emit('actionPaginated', $event)"
                    :paginationTotal="tableTotalPages"
                    :paginationCurrent="tableCurrentPage" />
            </div>
        </div>
    </div>
    <div
        v-else
        class="compTable__empty">
        <p class="compTable__empty-text">В таблице данных нет</p>
    </div>
</template>

<script>
import CompPagination from "@/components/FormElements/compPagination.vue";

export default {
    name: "compTable",
    components: {
        CompPagination,
    },
    props: {
        tableHasNumeration: {
            type: Boolean,
            default: true,
        },
        tableRowHoverable: {
            type: Boolean,
            default: false,
        },
        tableNumerationStart: {
            type: Number,
            default: 1,
        },
        tableCurrentPage: {
            type: Number,
            default: 1,
        },
        tableTotalPages: {
            type: Number,
            default: 1,
        },
        tableTotalData: {
            type: Number,
            default: 1,
        },
        tableHead: {
            type: Array,
            default: () => [],
        },
        tableBody: {
            type: Array,
            default: () => [],
        },
        tableFooter: {
            type: Object,
            default: () => {},
        },
    },
    data() {
        return {
            tableFilter: {
                key: "",
                dir: "asc",
            },
        };
    },

    methods: {
        tableRowClick(el, index) {
            if (!this.tableRowHoverable) return;
            this.$emit("actionClick", {el, index});
        },

        checkCeilValue(value, key) {
            if (key == "formattablesum") {
                return this.formatNumber(value);
            }
            return value;
        },

        formatNumber(number) {
            if (!number) return;
            return (
                Math.trunc(number)
                    .toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, " ") + " so'm"
            );
        },

        setFilter(key) {
            if (this.tableFilter.key === key) {
                this.tableFilter.dir = this.tableFilter.dir === "asc" ? "dsc" : "asc";
            } else {
                this.tableFilter.key = key;
                this.tableFilter.dir = "asc";
            }

            this.$emit("actionFilter", this.tableFilter);
        },
    },
};
</script>
