<template>
    <div class="compInputSearch">
        <label>
            <input
                :value="inputValue"
                :placeholder="inputLabel"
                class="compInputSearch-input"
                type="text" />
            <button
                :class="{filled: inputValue}"
                class="compInputSearch-btn">
                <img
                    src="@/assets/icons/icon-search.svg"
                    alt="search" />
            </button>
        </label>
    </div>
</template>

<script>
export default {
    name: "compInputSearch",
    props: {
        inputLabel: {
            type: String,
            default: "Input label text",
        },
        inputValue: {
            type: String,
            default: "",
        },
    },
    computed: {},
    data() {
        return {
            // pgTotal: 106,
        };
    },

    methods: {},
};
</script>
