<template>
    <div class="compPagination">
        <div class="compPagination__body">
            <ul class="compPagination__list">
                <li
                    class="compPagination__item first"
                    :class="{disabled: paginationCurrent == 1}"
                    @click="handleClickControl(-1)">
                    <img
                        src="@/assets/icons/icon-arrow-paginationsvg.svg"
                        alt="arrow" />
                    <p class="compPagination__item-text">Avvalgi</p>
                </li>
                <li
                    class="compPagination__item"
                    v-for="(item, index) in pages"
                    :key="index"
                    :class="{separator: item === ellipsis, active: item === paginationCurrent}"
                    @click="handleClickActive(item)">
                    <span>{{ item }}</span>
                </li>
                <li
                    class="compPagination__item last"
                    :class="{disabled: paginationCurrent == paginationTotal}"
                    @click="handleClickControl(+1)">
                    <p class="compPagination__item-text">Keyingi</p>
                    <img
                        src="@/assets/icons/icon-arrow-paginationsvg.svg"
                        alt="arrow" />
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: "compPagination",
    props: {
        paginationTotal: {
            type: Number,
            required: true,
            default: 15,
        },
        paginationCurrent: {
            type: Number,
            required: true,
            default: 1,
        },
    },
    data() {
        return {
            // totalPages: this.paginationTotal,
            // paginationCurrent: this.paginationCurrent,
            ellipsis: "···",
            pre: "Prev",
            next: "Next",
        };
    },
    computed: {
        pages() {
            const c = this.paginationCurrent;
            const t = this.paginationTotal;
            if (t <= 7) {
                const pages = [];
                for (let i = 1; i <= t; i++) {
                    pages.push(i);
                }
                return pages;
            } else {
                let pages = [];
                if (c <= 3) {
                    pages = [1, 2, 3, 4, 5, this.ellipsis, t];
                } else if (c >= t - 3) {
                    pages = [1, this.ellipsis, t - 4, t - 3, t - 2, t - 1, t];
                } else {
                    pages = [1, this.ellipsis, c - 1, c, c + 1, this.ellipsis, t];
                }
                return pages;
            }
        },
    },
    methods: {
        handleClickActive(item) {
            if (this.paginationCurrent === item) return;
            if (item === this.ellipsis) return;
            // this.paginationCurrent = item;
            this.$emit("paginated", item);
        },
        handleClickControl(n) {
            if ((this.paginationCurrent === 1 && n === -1) || (this.paginationCurrent === this.paginationTotal && n === 1)) return;
            let page = this.paginationCurrent + n;
            this.$emit("paginated", page);
        },
    },
};
</script>
