<template>
    <a
        :href="buttonLink ? buttonLink : '#!'"
        :target="buttonTarget ? buttonTarget : ''"
        :class="[buttonType, {loading: buttonIsloading}]"
        class="compButton">
        <img
            v-if="buttonLeftIcon"
            class="compButton__icon left"
            :src="buttonLeftIcon"
            alt="button icon" />
        <p class="compButton__text">{{ buttonLabel }}</p>
        <img
            v-if="buttonRightIcon"
            class="compButton__icon right"
            :src="buttonRightIcon"
            alt="button icon" />

        <div class="compButton__loaders">
            <span class="compButton__loaders-pin"></span>
            <span class="compButton__loaders-pin"></span>
            <span class="compButton__loaders-pin"></span>
        </div>
    </a>
</template>

<script>
export default {
    name: "compButton",
    props: {
        buttonLabel: {
            type: String,
            default: "Button",
        },
        buttonType: {
            type: String,
            default: "",
        },
        buttonLink: {
            type: String,
            default: "",
        },
        buttonLeftIcon: {
            type: String,
        },
        buttonRightIcon: {
            type: String,
        },
        buttonTarget: {
            type: Boolean,
            default: false,
        },
        buttonIsloading: {
            type: Boolean,
            default: false,
        },
    },
};
</script>
