<template>
    <div
        class="compSelect__holder"
        :style="{width: `calc(${selectWidth} - 15px)`}">
        <p class="compSelect__label">{{ selectLabel }}</p>
        <div
            class="compSelect"
            :class="{opened: isOpened}">
            <div
                class="compSelect__toggler"
                @click="isOpened = !isOpened">
                <div class="compSelect__toggler-body">
                    <p
                        v-if="selectSelected"
                        class="compSelect__toggler-content">
                        {{ selectSelected.name }}
                    </p>
                    <p
                        v-else
                        class="compSelect__toggler-label">
                        Выбрать
                    </p>
                </div>
                <button class="compSelect__toggler-btn" />
            </div>
            <div
                ref="scrollBody"
                class="compSelect__body">
                <div
                    v-if="selectSearchable"
                    class="compSelect__search">
                    <input
                        v-model="searchQuery"
                        type="text"
                        class="compSelect__search-input"
                        placeholder="Поиск..." />
                </div>
                <div class="compSelect__list">
                    <div
                        class="compSelect__list-item"
                        v-for="(item, index) in filteredOptions"
                        :key="index + 'key'"
                        @click="setActive(item)">
                        <p>{{ item.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "compSelect",
    props: {
        selectLabel: {
            type: String,
            default: "Select label goes here",
        },
        selectOptions: {
            type: Array,
            default: () => [
                {
                    id: "optionid1",
                    name: "Tashkent",
                },
                {
                    id: "optionid2",
                    name: "Bukhara",
                },
                {
                    id: "optionid3",
                    name: "Samarkand",
                },
                {
                    id: "optionid4",
                    name: "Navoi",
                },
                {
                    id: "optionid5",
                    name: "Gulistan",
                },
                {
                    id: "optionid6",
                    name: "Andijan",
                },
            ],
        },
        selectSelected: {
            type: Object,
            default: null,
        },
        selectSearchable: {
            type: Boolean,
            default: false,
        },
        selectWidth: {
            type: String,
            default: "100%",
        },
    },

    computed: {
        filteredOptions() {
            return this.selectOptions.filter((item) => item?.name?.toLowerCase().includes(this.searchQuery.toLowerCase()));
        },
    },

    mounted() {
        this.closeOnOutsideClick();
    },

    data() {
        return {
            isOpened: false,
            active: this.selectSelected,
            searchQuery: "",
        };
    },
    methods: {
        closeOnOutsideClick() {
            document.addEventListener("click", (event) => {
                const isOutside = !event.target.closest(".compSelect");
                if (isOutside) this.isOpened = false;
            });
        },

        setActive(item) {
            this.$emit("selected", item);
            this.isOpened = false;
        },
    },

    watch: {
        isOpened: function (val) {
            if (!val) {
                setTimeout(() => {
                    this.$refs.scrollBody.scrollTop = 0;
                    this.searchQuery = "";
                }, 300);
            }
        },
    },
};
</script>
