<template>
    <div>
        <div class="tdb-topbar__logo">
            <img
                src="@/assets/icons/icon-logo.svg"
                alt="icon"
                class="tdb-topbar__logo-img" />

            <h3 class="tdb-topbar__logo-text">Tadbirkor axborot tizimi</h3>
        </div>

        <div class="tdb-topbar__actions">
            <label class="tdb-topbar__actions-search tdb-search">
                <img
                    src="@/assets/icons/icon-search.svg"
                    alt="icon search"
                    class="tdb-search__icon" />
                <input
                    placeholder="Izlash"
                    type="search"
                    class="tdb-search__input" />
            </label>
            <div class="tdb-topbar__actions-notification tdb-notifications">
                <div class="tdb-notifications__toggler">
                    <img
                        src="@/assets/icons/icon-bell.svg"
                        alt=""
                        class="tdb-notifications__bell" />

                    <p class="tdb-notifications__count">44</p>
                </div>
            </div>
        </div>

        <div class="tdb-topbar__profile">
            <div class="tdb-profile">
                <div class="tdb-profile__toggler">
                    <img
                        src="@/assets/images/avatar.png"
                        alt="avatar"
                        class="tdb-profile__avatar" />
                    <h3 class="tdb-profile__name">Rasulov B</h3>
                </div>
                <div class="tdb-profile__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod officiis consectetur neque sint aliquam molestiae autem sequi cupiditate delectus magni!</div>
            </div>
        </div>

        <div class="tdb-topbar__language">
            <div class="tdb-language">
                <div class="tdb-language__toggler">
                    <img
                        src="@/assets/icons/icon-language.svg"
                        alt="avatar"
                        class="tdb-language__icon" />
                    <h3 class="tdb-language__title">O’zbekcha</h3>
                </div>
                <div class="tdb-language__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod officiis consectetur neque sint aliquam molestiae autem sequi cupiditate delectus magni!</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "compTopbar",
};
</script>
