<template>
    <div>
        <CompMenuBlock
            v-for="(item, index) in menus"
            :key="index"
            :menuBlockLabel="item.label"
            :menuBlockOpened="item.isOpened">
            <CompMenuItem
                v-for="(inneritem, index) in item.items"
                :menuIconPath="inneritem.icon"
                :menuLabel="inneritem.label"
                :menuCount="inneritem.count"
                :menuLink="inneritem.link"
                :key="index" />
        </CompMenuBlock>
    </div>
</template>

<script>
import CompMenuBlock from "@/components/SidebarElements/compMenuBlock.vue";
import CompMenuItem from "@/components/SidebarElements/compMenuItem.vue";

export default {
    name: "compSidebar",
    components: {CompMenuBlock, CompMenuItem},
    data() {
        return {
            menus: [
                {
                    isOpened: true,
                    label: "Asosiy",
                    items: [
                        {
                            label: "Koʻrsatkichlar",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/korsatgichlar.svg"),
                        },
                        {
                            label: "Soʻrovlar",
                            link: "#!",
                            count: 34,
                            icon: require("@/assets/icons/menuicons/sorovlar.svg"),
                        },
                        {
                            label: "Barcha arizalar",
                            link: "#!",
                            count: 512,
                            icon: require("@/assets/icons/menuicons/barchaarizalar.svg"),
                        },
                        {
                            label: "Jamgʻarma",
                            link: "#!",
                            count: 426,
                            icon: require("@/assets/icons/menuicons/jamgarma.svg"),
                        },
                        {
                            label: "Banklar BO",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/banklar.svg"),
                        },
                        {
                            label: "Bank filiallar",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/bankfiliallar.svg"),
                        },
                        {
                            label: "Sozlamalar",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/sozlamalar.svg"),
                        },
                    ],
                },
                {
                    isOpened: true,
                    label: "Tadbirkorga oid",
                    items: [
                        {
                            label: "Profil",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/profil.svg"),
                        },
                        {
                            label: "Hisobotlar",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/hisobotlar.svg"),
                        },
                        {
                            label: "Eksport komissiya",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/eksportkomissiya.svg"),
                        },
                        {
                            label: "Javob xatlari",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/javobxatlari.svg"),
                        },
                        {
                            label: "Kreditlar",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/kreditlar.svg"),
                        },
                        {
                            label: "Qoʻshimcha kelishuvlar",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/kelishuvlar.svg"),
                        },
                        {
                            label: "Kompensatsiya hisobotlari",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/kompensatsiya.svg"),
                        },
                    ],
                },
                {
                    isOpened: false,
                    label: "Boshqalar",
                    items: [
                        {
                            label: "Yoʻriqnoma",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/yoriqnoma.svg"),
                        },
                        {
                            label: "Ma’lumotlar",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/malumotlar.svg"),
                        },
                        {
                            label: "Shartnomalar",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/shartnomalar.svg"),
                        },
                        {
                            label: "Buyurtmanomalar",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/buyurtmanomalar.svg"),
                        },
                        {
                            label: "Prognozlar",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/prognozlar.svg"),
                        },
                        {
                            label: "Monitoring",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/monitoring.svg"),
                        },
                        {
                            label: "Bir martalik komissiyalar",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/komissiyalar.svg"),
                        },
                        {
                            label: "Kafillik talabnomalari",
                            link: "#!",
                            count: 0,
                            icon: require("@/assets/icons/menuicons/kafillik.svg"),
                        },
                    ],
                },
            ],
        };
    },
};
</script>
