<template>
    <div
        v-if="!isMobile"
        id="tdb"
        class="tdb">
        <CompTopbar class="tdb-topbar" />
        <CompSidebar class="tdb-sidebar" />
        <CompBody class="tdb-body" />
    </div>
    <div
        v-else
        class="tdb-nomobile">
        <p class="tdb-nomobile__label">Hurmatli foydalanuvchi, iltimos platformadan foydalanish uchun desktop qurilmalaridan foydalaning.</p>
    </div>
</template>

<script>
import CompSidebar from "@/components/LayoutElements/compSidebar.vue";
import CompTopbar from "@/components/LayoutElements/compTopbar.vue";
import CompBody from "@/components/LayoutElements/compBody.vue";

export default {
    name: "tdbLayout",
    components: {
        CompTopbar,
        CompSidebar,
        CompBody,
    },
    data() {
        return {
            isMobile: window.innerWidth < 992,
        };
    },
};
</script>
