.tdb {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    background: #f3f3f3;

    &-body {
        width: calc(100% - 250px);
    }

    &-nomobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100svh;

        &__label {
            font-size: 24px;
            font-weight: bold;
            width: 600px;
            text-align: center;
            line-height: 1.4;
        }
    }
}

@media (max-width: 768px) {
    .tdb {
        &-nomobile {
            &__label {
                width: 300px;
                font-size: 18px;
            }
        }
    }
}
