.tdb-dash {
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__block {
        padding: 10px 0;
    }

    &__titling {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        &-filters {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}

.tdb-currencies {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 8px;
    border: 1px solid var(--Stroke, #e5eaee);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0.02);
}

.tdb-currency {
    border-right: 1px solid var(--Stroke, #e5eaee);
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-height: 115px;

    &__titling {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;
    }
    &__icon {
        width: 25px;
        height: 25px;
    }
    &__label {
        color: #252729;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    &__amount {
        color: var(--Black, #080b11);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.36px;
        margin-bottom: 5px;

        span {
            color: #a1a6ac;
        }
    }

    &__growth {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
        letter-spacing: -0.24px;
        display: flex;
        gap: 5px;

        &::after {
            display: flex;
            width: 15px;
            height: 15px;
            content: "";
            background: red;
        }

        &.green {
            color: var(--Green-2, #27ae60);

            &::after {
                background: url("@/assets/icons/icon-growth.svg") no-repeat center center;
            }
        }

        &.red {
            color: var(--Green-2, #ed3a2f);

            &::after {
                background: url("@/assets/icons/icon-decrease.svg") no-repeat center center;
            }
        }
    }
}

.tdb-stats {
    margin-bottom: 25px;

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__table {
        width: 70%;

        &-color {
            border-radius: 3px;
            background: red;
            width: 13px;
            height: 13px;
            display: flex;
            float: left;
            margin: 0 10px 0 0;
        }

        &-price {
            color: var(--Black, #080b11);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.14px;

            span {
                color: #a1a6ac;
            }
        }
    }

    &__chart {
        width: calc(30% - 15px);
        height: 242px;
        display: flex;
        flex-direction: column;

        &-label {
            color: #a1a6ac;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 10px 0;
        }

        &-body {
            flex-grow: 1;
            padding: 10px 30px;
            border-radius: 8px;
            border: 1px solid var(--Stroke, #e5eaee);
            background: #fff;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0.02);
        }
    }

    &__title {
        color: var(--Black, #080b11);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.16px;
    }
}
