<template>
    <div class="tdb-dash">
        <div class="tdb-dash__block">
            <div class="tdb-dash__titling">
                <h2 class="tdb-dash__titling-title">Valyuta kurslari</h2>
                <div class="tdb-dash__titling-filters">
                    <CompFilterselect
                        :selectWidth="currency.filter.width"
                        :selectLabel="currency.filter.label"
                        :selectOptions="currency.filter.options"
                        :selectSelected="currency.filter.selected"
                        @selected="currency.filter.selected = $event" />
                </div>
            </div>
            <div class="tdb-currencies">
                <div
                    v-for="(item, index) in currencies"
                    :key="index"
                    class="tdb-currency">
                    <div class="tdb-currency__titling">
                        <img
                            class="tdb-currency__icon"
                            :src="item.icon"
                            alt="icon" />
                        <div class="tdb-currency__label">{{ item.label }}</div>
                    </div>
                    <p class="tdb-currency__amount">
                        {{ item.amount }}
                        <span>{{ item.amountdecs }}</span>
                    </p>
                    <span
                        class="tdb-currency__growth green"
                        :class="item.growthstatus">
                        {{ item.growth }}
                    </span>
                </div>
                <div class="tdb-currency">
                    <div class="tdb-currency__titling">
                        <div class="tdb-currency__label">
                            Markaziy bank
                            <br />
                            asosiy stavkasi
                        </div>
                    </div>
                    <p class="tdb-currency__amount">14%</p>
                </div>
            </div>
        </div>
        <div class="tdb-dash__block">
            <div class="tdb-dash__titling">
                <h2 class="tdb-dash__titling-title">Buyurtmanomalar</h2>
                <div class="tdb-dash__titling-filters">
                    <CompFilterselect
                        :selectWidth="filterPeriods.support.width"
                        :selectLabel="filterPeriods.support.label"
                        :selectOptions="filterPeriods.support.options"
                        :selectSelected="filterPeriods.support.selected"
                        @selected="filterPeriods.support.selected = $event" />
                    <CompFilterselect
                        :selectWidth="filterPeriods.period.width"
                        :selectLabel="filterPeriods.period.label"
                        :selectOptions="filterPeriods.period.options"
                        :selectSelected="filterPeriods.period.selected"
                        @selected="filterPeriods.period.selected = $event" />
                </div>
            </div>
            <div class="tdb-stats">
                <h3 class="tdb-stats__title">Tijorat bankida</h3>
                <div class="tdb-stats__body">
                    <div class="tdb-stats__table">
                        <CompTable
                            class="tdb-invoice__tableblock-table"
                            :tableHasNumeration="false"
                            :tableHead="table_inbanks.tableHead"
                            :tableBody="table_inbanks.tableBody"
                            :tableRowHoverable="true" />
                    </div>
                    <div class="tdb-stats__chart">
                        <p class="tdb-stats__chart-label">Grafika bilan</p>
                        <div class="tdb-stats__chart-body">
                            <Apexchart
                                type="donut"
                                :options="chartOptions"
                                :series="series"></Apexchart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tdb-stats">
                <h3 class="tdb-stats__title">Jamgʻarmada</h3>
                <div class="tdb-stats__body">
                    <div class="tdb-stats__table">
                        <CompTable
                            class="tdb-invoice__tableblock-table"
                            :tableHasNumeration="false"
                            :tableHead="table_infounds.tableHead"
                            :tableBody="table_infounds.tableBody"
                            :tableRowHoverable="true" />
                    </div>
                    <div class="tdb-stats__chart">
                        <p class="tdb-stats__chart-label">Grafika bilan</p>
                        <div class="tdb-stats__chart-body">
                            <Apexchart
                                type="donut"
                                :options="chartOptions2"
                                :series="series2"></Apexchart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CompFilterselect from "@/components/FormElements/compFilterselect.vue";
import CompTable from "@/components/FormElements/compTable.vue";
import VueApexCharts from "vue-apexcharts";

export default {
    name: "ViewDashboard",
    components: {
        CompFilterselect,
        CompTable,
        Apexchart: VueApexCharts,
    },
    data() {
        return {
            currency: {
                filter: {
                    width: "300px",
                    label: "Banklar boʻyicha",
                    options: [
                        {
                            id: "optionid1",
                            name: " Markaziy Bank",
                        },
                        {
                            id: "optionid2",
                            name: "Sanoat Bank",
                        },
                        {
                            id: "optionid3",
                            name: "Asaka bank",
                        },
                    ],
                    selected: {
                        id: "optionid1",
                        name: " Markaziy Bank",
                    },
                },
            },
            currencies: [
                {
                    icon: require("@/assets/icons/currencies/currency-usd.svg"),
                    label: "AQSH Dollari",
                    amount: "12 100",
                    amountdecs: "02",
                    growthstatus: "green",
                    growth: "+22.01",
                },
                {
                    icon: require("@/assets/icons/currencies/currency-euro.svg"),
                    label: "Yevro",
                    amount: "13 190",
                    amountdecs: "23",
                    growthstatus: "green",
                    growth: "+62.64",
                },
                {
                    icon: require("@/assets/icons/currencies/currency-ruble.svg"),
                    label: "Rossiya rubli",
                    amount: "123",
                    amountdecs: "32",
                    growthstatus: "red",
                    growth: "-1.18",
                },
                {
                    icon: require("@/assets/icons/currencies/currency-pound.svg"),
                    label: "Funt sterling",
                    amount: "15 416",
                    amountdecs: "64",
                    growthstatus: "green",
                    growth: "+46.16",
                },
                {
                    icon: require("@/assets/icons/currencies/currency-ien.svg"),
                    label: "Yen",
                    amount: "8300",
                    amountdecs: "00",
                    growthstatus: "green",
                    growth: "+0.03",
                },
            ],
            filterPeriods: {
                support: {
                    width: "280px",
                    label: "Moliyaviy yordam davri",
                    options: [
                        {
                            id: "optionid1",
                            name: " Markaziy Bank",
                        },
                        {
                            id: "optionid2",
                            name: "Sanoat Bank",
                        },
                        {
                            id: "optionid3",
                            name: "Asaka bank",
                        },
                    ],
                    selected: null,
                },
                period: {
                    width: "160px",
                    label: "Davr",
                    options: [
                        {
                            id: "optionid1",
                            name: " Markaziy Bank",
                        },
                        {
                            id: "optionid2",
                            name: "Sanoat Bank",
                        },
                        {
                            id: "optionid3",
                            name: "Asaka bank",
                        },
                    ],
                    selected: null,
                },
            },
            table_inbanks: {
                tableHead: [
                    {
                        key: "column_1",
                        width: "60%",
                        value: "Buyurtma holati",
                        isTextCentered: false,
                    },
                    {
                        key: "column_2",
                        width: "15%",
                        value: "Soni",
                        isTextCentered: false,
                    },
                    {
                        key: "column_3",
                        width: "15%",
                        value: "Moliyaviy yordam",
                        isTextCentered: false,
                    },
                    {
                        key: "column_4",
                        width: "10%",
                        value: "Kredit miqdori",
                        isTextCentered: false,
                    },
                    {
                        key: "column_5",
                        width: "30px",
                        value: "",
                        isTextCentered: false,
                    },
                ],
                tableBody: [
                    {
                        column_1: "<span style='background: #BB6BD9' class='tdb-stats__table-color'></span> Bank filiali kiritgan",
                        column_2: "544",
                        column_3: "<p class='tdb-stats__table-price'>7 524<span>.37</span></p>",
                        column_4: "<p class='tdb-stats__table-price'>44 359<span>.62</span></p>",
                        column_5: ">",
                    },
                    {
                        column_1: "<span style='background: #27AE60' class='tdb-stats__table-color'></span>  Bosh bankga yuborilgan",
                        column_2: "185",
                        column_3: "<p class='tdb-stats__table-price'>77<span>.96</span></p>",
                        column_4: "<p class='tdb-stats__table-price'>334<span>.54</span></p>",
                        column_5: ">",
                    },
                    {
                        column_1: "<span style='background: #F56A61' class='tdb-stats__table-color'></span>  Bosh bankdan rad etilgan",
                        column_2: "6 948",
                        column_3: "<p class='tdb-stats__table-price'>6 336<span>.49</span></p>",
                        column_4: "<p class='tdb-stats__table-price'>12 942<span>.65</span></p>",
                        column_5: ">",
                    },
                    {
                        column_1: "<strong>Jami</strong>",
                        column_2: "7 677",
                        column_3: "<p class='tdb-stats__table-price'>13 938<span>.82</span></p>",
                        column_4: "<p class='tdb-stats__table-price'>57 636<span>.81</span></p>",
                        column_5: ">",
                    },
                ],
            },
            series: [75, 17, 8],
            chartOptions: {
                chart: {
                    type: "donut",
                },
                colors: ["#BB6BD9", "#27AE60", "#F56A61"],
                labels: ["Bank filiali kiritgan", "Bosh bankga yuborilgan", "Bosh bankdan rad etilgan"],
                dataLabels: {
                    enabled: false, // This will hide the percent labels
                },
                plotOptions: {
                    pie: {},
                },
            },

            table_infounds: {
                tableHead: [
                    {
                        key: "column_1",
                        width: "60%",
                        value: "Buyurtma holati",
                        isTextCentered: false,
                    },
                    {
                        key: "column_2",
                        width: "15%",
                        value: "Soni",
                        isTextCentered: false,
                    },
                    {
                        key: "column_3",
                        width: "15%",
                        value: "Moliyaviy yordam",
                        isTextCentered: false,
                    },
                    {
                        key: "column_4",
                        width: "10%",
                        value: "Kredit miqdori",
                        isTextCentered: false,
                    },
                    {
                        key: "column_5",
                        width: "30px",
                        value: "",
                        isTextCentered: false,
                    },
                ],
                tableBody: [
                    {
                        column_1: "<span style='background: #BB6BD9' class='tdb-stats__table-color'></span> Jamgʻarma tomonidan rad etilgan",
                        column_2: "544",
                        column_3: "<p class='tdb-stats__table-price'>7 524<span>.37</span></p>",
                        column_4: "<p class='tdb-stats__table-price'>44 359<span>.62</span></p>",
                        column_5: ">",
                    },
                    {
                        column_1: "<span style='background: #27AE60' class='tdb-stats__table-color'></span> Jamgʻarmada koʻrib chiqilmoqda",
                        column_2: "185",
                        column_3: "<p class='tdb-stats__table-price'>77<span>.96</span></p>",
                        column_4: "<p class='tdb-stats__table-price'>334<span>.54</span></p>",
                        column_5: ">",
                    },
                    {
                        column_1: "<span style='background: #F56A61' class='tdb-stats__table-color'></span> Imzolash jarayonida",
                        column_2: "6 948",
                        column_3: "<p class='tdb-stats__table-price'>6 336<span>.49</span></p>",
                        column_4: "<p class='tdb-stats__table-price'>12 942<span>.65</span></p>",
                        column_5: ">",
                    },
                    {
                        column_1: "<span style='background: #BB6BD9' class='tdb-stats__table-color'></span> Faol holatda",
                        column_2: "544",
                        column_3: "<p class='tdb-stats__table-price'>7 524<span>.37</span></p>",
                        column_4: "<p class='tdb-stats__table-price'>44 359<span>.62</span></p>",
                        column_5: ">",
                    },
                    {
                        column_1: "<span style='background: #27AE60' class='tdb-stats__table-color'></span> Toʻxtatilgan",
                        column_2: "185",
                        column_3: "<p class='tdb-stats__table-price'>77<span>.96</span></p>",
                        column_4: "<p class='tdb-stats__table-price'>334<span>.54</span></p>",
                        column_5: ">",
                    },
                    {
                        column_1: "<span style='background: #F56A61' class='tdb-stats__table-color'></span> Qayta tiklangan",
                        column_2: "6 948",
                        column_3: "<p class='tdb-stats__table-price'>6 336<span>.49</span></p>",
                        column_4: "<p class='tdb-stats__table-price'>12 942<span>.65</span></p>",
                        column_5: ">",
                    },
                    {
                        column_1: "<span style='background: #BB6BD9' class='tdb-stats__table-color'></span> Bekor qilingan",
                        column_2: "544",
                        column_3: "<p class='tdb-stats__table-price'>7 524<span>.37</span></p>",
                        column_4: "<p class='tdb-stats__table-price'>44 359<span>.62</span></p>",
                        column_5: ">",
                    },
                    {
                        column_1: "<span style='background: #27AE60' class='tdb-stats__table-color'></span> Bajarilgan",
                        column_2: "185",
                        column_3: "<p class='tdb-stats__table-price'>77<span>.96</span></p>",
                        column_4: "<p class='tdb-stats__table-price'>334<span>.54</span></p>",
                        column_5: ">",
                    },
                    {
                        column_1: "<span style='background: #F56A61' class='tdb-stats__table-color'></span> Imzolanmagani uchun bekor qilingan",
                        column_2: "6 948",
                        column_3: "<p class='tdb-stats__table-price'>6 336<span>.49</span></p>",
                        column_4: "<p class='tdb-stats__table-price'>12 942<span>.65</span></p>",
                        column_5: ">",
                    },
                    {
                        column_1: "<strong>Jami</strong>",
                        column_2: "7 677",
                        column_3: "<p class='tdb-stats__table-price'>13 938<span>.82</span></p>",
                        column_4: "<p class='tdb-stats__table-price'>57 636<span>.81</span></p>",
                        column_5: ">",
                    },
                ],
            },
            series2: [37, 10, 42, 6, 5],
            chartOptions2: {
                chart: {
                    type: "donut",
                },
                colors: ["#BB6BD9", "#27AE60", "#F56A61"],
                labels: ["Jamgʻarma tomonida...", "Jamgʻarmada koʻrib chi...", "Imzolash jarayonida", "Faol holatda", "Toʻxtatilgan"],
                dataLabels: {
                    enabled: false, // This will hide the percent labels
                },
                plotOptions: {
                    pie: {},
                },
            },
        };
    },
};
</script>

<style lang="scss">
@import "./viewDashboard.scss";
</style>
