<template>
    <div class="tadbirkor-form">
        <div class="tadbirkor-form__body">
            <h1 class="tadbirkor-form__title">Ариза</h1>

            <div class="tadbirkor-form__fieldset">
                <h2 class="tadbirkor-form__fieldset-title">Мижоз</h2>
                <CompInputNumber
                    :inputWidth="'calc(100% / 3)'"
                    :inputPlaceholder="'Кредит суммаси'"
                    :inputValue="price"
                    :inputLabel="'Цена товара'"
                    @modified="price = $event" />
                <CompInput
                    :inputWidth="'calc(100% / 3)'"
                    :inputValue="''"
                    :inputLabel="'Ташкилот номи'"
                    @modified="phoneNumber = $event" />
                <CompInput
                    :inputWidth="'calc(100% / 3)'"
                    :inputValue="''"
                    :inputLabel="'Манзили'"
                    @modified="phoneNumber = $event" />

                <!-- -->

                <CompSelect
                    :selectWidth="'25%'"
                    :selectLabel="'Вилоят'"
                    :selectSearchable="true"
                    :selectOptions="select.options"
                    :selectSelected="select.selected"
                    @selected="select.selected = $event" />
                <CompSelect
                    :selectWidth="'25%'"
                    :selectLabel="'Туман'"
                    :selectSearchable="true"
                    :selectOptions="select.options"
                    :selectSelected="select.selected"
                    @selected="select.selected = $event" />
                <CompSelect
                    :selectWidth="'25%'"
                    :selectLabel="'Махалла'"
                    :selectSearchable="true"
                    :selectOptions="select.options"
                    :selectSelected="select.selected"
                    @selected="select.selected = $event" />
                <CompInput
                    :inputWidth="'25%'"
                    :inputValue="''"
                    :inputLabel="'МФО'"
                    @modified="phoneNumber = $event" />

                <!-- -->

                <CompInput
                    :inputWidth="'25%'"
                    :inputValue="''"
                    :inputLabel="'Хисоб раками'"
                    @modified="phoneNumber = $event" />
                <CompInput
                    :inputWidth="'25%'"
                    :inputValue="''"
                    :inputLabel="'ИФУД (ОКЭД)'"
                    @modified="phoneNumber = $event" />
                <CompInput
                    :inputWidth="'25%'"
                    :inputValue="''"
                    :inputLabel="'Раҳбар'"
                    @modified="phoneNumber = $event" />
                <CompInput
                    :inputWidth="'25%'"
                    :inputValue="''"
                    :inputLabel="'Раҳбар ЖШШИРи'"
                    @modified="phoneNumber = $event" />

                <!-- -->

                <CompInput
                    :inputWidth="'25%'"
                    :inputValue="''"
                    :inputLabel="'Раҳбар СТИРи'"
                    @modified="phoneNumber = $event" />
                <CompInput
                    :inputWidth="'25%'"
                    :inputValue="''"
                    :inputLabel="'Телефон рақами'"
                    @modified="phoneNumber = $event" />
                <CompInput
                    :inputWidth="'25%'"
                    :inputValue="''"
                    :inputLabel="'Раҳбарнинг жинси'"
                    @modified="phoneNumber = $event" />
                <CompInput
                    :inputWidth="'25%'"
                    :inputValue="''"
                    :inputLabel="'Ишчилар сони'"
                    @modified="phoneNumber = $event" />
            </div>

            <div class="tadbirkor-form__fieldset">
                <h2 class="tadbirkor-form__fieldset-title">Кафиллик тақдим этиш манбаи</h2>
                <CompSelect
                    :selectWidth="'25%'"
                    :selectLabel="'Лойиҳа амалга оширилаётган вилоят'"
                    :selectSearchable="true"
                    :selectOptions="select.options"
                    :selectSelected="select.selected"
                    @selected="select.selected = $event" />
                <CompSelect
                    :selectWidth="'25%'"
                    :selectLabel="'Лойиҳа амалга оширилаётган туман'"
                    :selectSearchable="true"
                    :selectOptions="select.options"
                    :selectSelected="select.selected"
                    @selected="select.selected = $event" />
                <CompInput
                    :inputWidth="'25%'"
                    :inputValue="''"
                    :inputLabel="'Лойиҳанинг умумий қиймати'"
                    @modified="phoneNumber = $event" />
                <CompSelect
                    :selectWidth="'25%'"
                    :selectLabel="'Молиявий ёрдамдан фойдаланиш бўйича алоҳида қабул қилинган қарор'"
                    :selectSearchable="true"
                    :selectOptions="select.options"
                    :selectSelected="select.selected"
                    @selected="select.selected = $event" />

                <!-- -->

                <CompSelect
                    :selectWidth="'calc(100% / 3)'"
                    :selectLabel="'Soha'"
                    :selectSearchable="true"
                    :selectOptions="select.options"
                    :selectSelected="select.selected"
                    @selected="select.selected = $event" />
                <CompInput
                    :inputWidth="'calc(100% / 3)'"
                    :inputValue="''"
                    :inputLabel="'Умумий яратиладиган иш ўринлари'"
                    @modified="phoneNumber = $event" />
                <CompInput
                    :inputWidth="'calc(100% / 3)'"
                    :inputValue="''"
                    :inputLabel="'Аёллар учун яратиладиган иш ўринлари'"
                    @modified="phoneNumber = $event" />
            </div>

            <div class="tadbirkor-form__fieldset">
                <div class="tadbirkor-form__confirm">
                    <img
                        class="tadbirkor-form__confirm-icon"
                        src="@/assets/icons/icon-warning.svg"
                        alt="icon" />

                    <h3 class="tadbirkor-form__confirm-title">Диққат</h3>
                    <p class="tadbirkor-form__confirm-desc">Буюртмада кўрсатилган маълумотларнинг тўлиқлиги ва ҳаққонийлигини тасдиқлайман. Ушбу буюртмага киритилган маълумотларнинг нотўғри ва ёлғонлиги аниқланиши натижасида юзага келган барча оқибатлари бўйича қонуний жавобгарлик мавжудлиги тўғрисида огоҳлантирилдим.</p>
                </div>
            </div>

            <div class="tadbirkor-form__actions">
                <CompButton :buttonLabel="'Бекор килиш'" />
                <CompButton
                    :buttonLabel="'Саклаш'"
                    :buttonType="'primary'" />
            </div>
        </div>
    </div>
</template>

<script>
import CompInputNumber from "@/components/FormElements/compInputNumber.vue";
import CompInput from "@/components/FormElements/compInput.vue";
import CompSelect from "@/components/FormElements/compSelect.vue";
import CompButton from "@/components/FormElements/compButton.vue";

export default {
    name: "App",
    components: {
        CompInput,
        CompInputNumber,
        CompSelect,
        CompButton,
    },
    data() {
        return {
            phoneNumber: "+998 90 999 99 99",
            price: null,
            select: {
                options: [
                    {
                        id: 1,
                        name: "Tashkent",
                    },
                    {
                        id: 2,
                        name: "Bukhara",
                    },
                    {
                        id: 3,
                        name: "Samarkand",
                    },
                    {
                        id: 4,
                        name: "Navoi",
                    },
                    {
                        id: 5,
                        name: "Gulistan",
                    },
                    {
                        id: 6,
                        name: "Andijan",
                    },
                ],
                selected: {
                    id: 1,
                    name: "Tashkent",
                },
            },
        };
    },
};
</script>

<style lang="scss">
@import "@/assets/sass/tadb-form.scss";
</style>
