<template>
    <div
        class="tdb-menublock"
        :class="{'tdb-opened': isOpened}">
        <div
            class="tdb-menublock__toggler"
            @click="isOpened = !isOpened">
            <p class="tdb-menublock__label">{{ menuBlockLabel }}</p>
            <img
                class="tdb-menublock__icon"
                src="@/assets/icons/icon-dropdown-menu.svg"
                alt="icon" />
        </div>
        <div class="tdb-menublock__body">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: "compMenuBlock",
    props: {
        menuBlockLabel: {
            type: String,
            default: "Block label",
        },
        menuBlockOpened: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            isOpened: this.menuBlockOpened,
        };
    },
};
</script>
