<template>
    <div class="tdb-menuitem">
        <a
            :href="menuLink"
            class="tdb-menuitem__link">
            <div
                class="tdb-menuitem__icon"
                :style="{
                    '-webkit-mask': 'url(' + menuIconPath + ') no-repeat center',
                    mask: 'url(' + menuIconPath + ') no-repeat center',
                }"></div>

            <p class="tdb-menuitem__label">{{ menuLabel }}</p>

            <span
                v-if="menuCount"
                class="tdb-menuitem__count">
                {{ menuCount }}
            </span>
        </a>
    </div>
</template>

<script>
export default {
    name: "compMenuItem",
    props: {
        menuIconPath: {
            type: String,
            required: true,
        },
        menuLabel: {
            type: String,
            required: true,
        },
        menuCount: {
            type: Number,
            default: 0,
        },
        menuLink: {
            type: String,
            default: "#!",
        },
    },
};
</script>
