.compTabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &__links {
        width: 100%;
        overflow: auto;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 0;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    &__link {
        width: 130px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 8px;
        background: #ffffff;

        &-text {
            color: #5a5d63;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            transform: 0.3s;
            line-height: 20px;
        }

        &-icon {
            width: 20px;
            height: 20px;
            transform: 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #a1a6ac;
        }

        &.active & {
            &-icon {
                background-color: #0067df;
            }

            &-text {
                color: #080b11;
            }
        }

        &:hover,
        &.active {
            background: #f3f4f4;
        }

        &:active {
            transform: scale(0.975);
        }
    }

    &__contents {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__content {
        min-height: 300px;
        padding: 10px 0;
        top: 0;
        opacity: 0;
        transition: 0.3s;
        animation: appearer 0.5s forwards;
    }
}

@keyframes appearer {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
