$height: 50px;

.compSelect {
    border-radius: 10px;
    border: 1px solid rgb(226, 226, 226);
    color: #333;
    width: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100%;
    max-height: $height;
    transition: 0.3s;

    &__label {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #080b11;
        border-radius: 5px;
        position: absolute;
        z-index: 2;
        bottom: calc(100% + 10px);
        left: 0;
        transition: 0.3s;
        user-select: none;
        cursor: text;
    }

    &__holder {
        width: 100%;
        min-width: 300px;
        height: $height;
        outline: none;
        position: relative;
        user-select: none;
        transition: 0.3s;
        margin-top: 30px;
    }

    &__toggler {
        border-radius: 10px;
        padding: 0 20px;
        width: 100%;
        height: $height;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: 0.3s;
        cursor: pointer;
        position: relative;

        &-label {
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-weight: normal;
            color: #d3d3d3;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            line-clamp: 1;
            box-orient: vertical;
            padding-right: 10%;

            &.filled {
                transform: translateY(-50%);
                background: #ffffff;
                padding: 5px 10px;
                position: absolute;
                top: 0;
                left: 10px;
                font-size: 12px;
                color: #d3d3d3;
            }
        }

        &-content {
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-weight: normal;
            color: #000000;
        }

        &-btn {
            all: unset;
            cursor: pointer;
            transition: 0.3s;
            position: absolute;
            top: calc(50% - 20px);
            right: 10px;
            width: 40px;
            transition: 0.3s;
            height: 40px;
            background: url(@/assets/icons/icon-dropdown.svg) no-repeat center center;
            background-size: 80% 80%;

            &:hover {
                opacity: 0.6;
            }
        }

        &-body {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }

    &__body {
        flex-grow: 1;
        border-radius: 0 0 10px 10px;
        overflow: auto;
        background: #ffffff;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    &__list {
        &-item {
            height: 50px;
            padding: 0 20px;
            transition: 0.3s;
            cursor: pointer;
            display: flex;
            align-items: center;

            p {
                font-size: 14px;
                font-weight: normal;
                color: #000000;

                overflow: hidden;
                text-overflow: ellipsis;
                display: -moz-box;
                -moz-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                line-clamp: 2;
                box-orient: vertical;
                padding-right: 10%;
            }

            &:hover {
                background: #f3f3f3;
            }
        }
    }

    &__search {
        padding: 0 20px;
        margin: 5px 0;

        &-input {
            height: 40px;
            width: 100%;
            border: 1px solid #dedede;
            border-radius: 10px;
            padding: 0 15px;
            color: #333333;
        }
    }

    &.opened {
        max-height: 212px;
        z-index: 100;

        .compSelect__body {
            opacity: 1;
            visibility: visible;
        }

        .compSelect__toggler {
            &-btn {
                transform: rotate(-180deg);
            }
        }

        &:has(.compSelect__search) {
            max-height: 252px;
        }
    }
}
