$fsheight: 35px;

.compFilterselect {
    width: 100%;
    font-size: 12px;
    color: #080b11;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100%;
    max-height: $fsheight;
    transition: 0.3s;
    border-radius: 8px;
    border: 1px solid #e5eaee;
    background: #fff;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.04), 0px 1px 1px 0px rgba(0, 0, 0, 0.02);

    &__label {
        color: #5a5d63;
        font-size: 13px;
        font-style: normal;
        white-space: nowrap;
        font-weight: 400;
        line-height: 18px;
        border-radius: 5px;
        z-index: 2;
        transition: 0.3s;
        user-select: none;
        cursor: text;
        flex-shrink: 0;
        margin: 0 5px 0 0;
    }

    &__holder {
        width: 100%;
        height: $fsheight;
        outline: none;
        position: relative;
        user-select: none;
        transition: 0.3s;
    }

    &__toggler {
        border-radius: 10px;
        padding: 0 12px;
        width: 100%;
        height: $fsheight;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: 0.3s;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        &-label,
        &-content {
            margin: 0;
            padding: 0;
            flex-shrink: 0;
            color: #080b11;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            line-clamp: 1;
            box-orient: vertical;
        }

        &-btn {
            all: unset;
            cursor: pointer;
            transition: 0.3s;
            width: 15px;
            flex-shrink: 0;
            height: 15px;
            background: url("@/assets/icons/icon-dropdown.svg") no-repeat center center;
            opacity: 0.6;
            margin: 0 0 0 auto;

            &:hover {
                opacity: 0.3;
            }
        }

        &-body {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            flex-shrink: 0;
        }
    }

    &__body {
        flex-grow: 1;
        border-radius: 0 0 10px 10px;
        overflow: auto;
        background: #ffffff;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    &__list {
        &-item {
            height: 35px;
            transition: 0.3s;
            cursor: pointer;
            display: flex;
            align-items: center;

            p {
                color: #080b11;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px;

                overflow: hidden;
                text-overflow: ellipsis;
                display: -moz-box;
                -moz-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                line-clamp: 2;
                box-orient: vertical;
                padding: 0px 10px 0 15px;
            }

            &:hover {
                background: #f3f3f3;
            }
        }
    }

    &.opened {
        max-height: 212px;
        z-index: 100;

        .compFilterselect__body {
            opacity: 1;
            visibility: visible;
        }

        .compFilterselect__toggler {
            &-btn {
                transform: rotate(-180deg);
            }
        }
    }
}
