.compPagination {
    user-select: none;

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    &__item {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 10px;
        border: 1px solid transparent;
        color: #080b11;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 1;

        &:hover {
            background: #f3f4f4;
        }

        &:active {
            transform: scale(0.975);
        }

        &.separator {
            pointer-events: none;
            opacity: 0.6;
            border-color: transparent;
        }

        &.last,
        &.first {
            width: auto;
            border-radius: 8px;
            border: 1px solid #e5eaee;
            background: #fff;
            box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.04), 0px 1px 1px 0px rgba(0, 0, 0, 0.02);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;

            img {
                display: flex;
                width: 15px;
                height: 15px;
                display: flex;
                transition: 0.3s;
            }

            &:hover {
                background: #e5eaee;
            }
        }

        &.last {
            padding: 5px 5px 5px 10px;

            img {
                transform: rotate(180deg);
            }
        }

        &.first {
            padding: 5px 10px 5px 5px;
        }

        &.active {
            background: #f3f4f4;
            color: #0067df;
            pointer-events: none;
        }
    }
}
