.compInput {
    width: 100%;
    min-width: 200px;
    position: relative;
    height: 50px;
    border: 1px solid #dedede;
    border-radius: 10px;
    transition: 0.3s;
    margin: 30px 0 10px 0;

    &:has(input:focus) {
        border-color: #0091ff;

        .compInput-placeholder {
            color: #0091ff;
        }

        .compInput-icon {
            filter: revert;
        }

        &::after {
            background: #0091ff;
        }
    }

    &:has(input:-webkit-autofill) {
        .compInput-placeholder {
            font-size: 12px;
        }
    }

    &.error {
        border-color: #e31919;

        .compInput-placeholder {
            color: #e31919;
        }

        .compInput-icon {
            filter: hue-rotate(140deg);
        }

        &::after {
            background: #e31919;
        }
    }

    &.success {
        border-color: #04ba00;

        .compInput-placeholder {
            color: #04ba00;
        }

        .compInput-icon {
            filter: hue-rotate(263deg);
        }

        &::after {
            background: #04ba00;
        }
    }

    &-input {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: none;
        padding: 0 15px;
        outline: none;
        border: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #838383;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
        }

        &.textarea {
            width: 100%;
            height: 100%;
            resize: none;
            padding: 15px;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }
    }

    &-placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #080b11;
        border-radius: 5px;
        position: absolute;
        z-index: 2;
        bottom: calc(100% + 10px);
        left: 0;
        transition: 0.3s;
        user-select: none;
        cursor: text;
    }
}
