.compDatep {
    &__input {
        width: 100%;
        height: 50px;
        border-radius: 8px;
        border: 1px solid #e5eaee;
        background: #fff;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0.02);
        padding: 10px 20px;
        color: #a1a6ac;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__label {
        color: #080b11;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 10px;
    }
}
