.tdb-menuitem {
    margin-bottom: 5px;
    height: 40px;

    &__link {
        border-radius: 8px;
        transition: 0.3s;
        width: 100%;
        height: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
    }

    &__icon {
        width: 20px;
        height: 20px;
        display: flex;
        object-fit: contain;
        background-color: #5a5d63;
        transition: 0.3s;
    }

    &__label {
        color: #5a5d63;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        line-clamp: 1;
        box-orient: vertical;
    }

    &__count {
        color: #a1a6ac;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1;
        margin-left: auto;
    }

    &:hover {
        .tdb-menuitem {
            &__link {
                background: #f3f4f4;
            }

            &__icon {
                background-color: #0067df;
            }

            &__label {
                color: #080b11;
            }
        }
    }
}
