.tdb-topbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 25px;
    gap: 20px;
    border-bottom: 1px solid #ecf1f5;
    background: #fff;
    position: relative;
    z-index: 9;

    &__logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        margin-right: auto;

        &-img {
            width: 25px;
            height: 25px;
            display: flex;
            object-fit: contain;
        }

        &-text {
            color: #080b11;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .tdb-search {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        width: 200px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #ecf1f5;
        cursor: pointer;

        &__icon {
            position: absolute;
            width: 25px;
            height: 25px;
            display: flex;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
        }

        &__input {
            all: unset;
            width: 100%;
            height: 100%;
            padding: 5px 10px 5px 40px;

            color: #080b11;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .tdb-notifications {
        &__toggler {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding: 8px;
            height: 40px;
            width: 70px;
            cursor: pointer;
            transition: 0.3s;
        }

        &__bell {
            align-self: center;
        }

        &__count {
            border-radius: 12px;
            background: #ed3a2f;
            padding: 2px 5px;
            color: #fff;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .tdb-profile {
        position: relative;

        &__toggler {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
            height: 40px;
            padding: 5px 10px;
            cursor: pointer;
            transition: 0.3s all ease;

            &::after {
                display: flex;
                content: "";
                width: 20px;
                height: 20px;
                background: url("@/assets/icons/icon-dropdown.svg") no-repeat center center;
                transition: 0.3s;
            }
        }

        &__avatar {
            background: #aaafbf;
            border-radius: 100px;
            overflow: hidden;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            object-fit: cover;
        }

        &__name {
            color: #080b11;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__body {
            width: 200px;
            position: absolute;
            top: 100%;
            right: 0;
            background: #ffffff;
            padding: 15px 20px;
            border-radius: 10px;
            box-shadow: 0 0 30px -10px rgb(0, 0, 0, 0.15);
            font-size: 14px;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
        }

        &:hover {
            .tdb-profile {
                &__body {
                    opacity: 1;
                    visibility: visible;
                }

                &__toggler {
                    opacity: 0.6;

                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    .tdb-language {
        position: relative;

        &__toggler {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
            height: 40px;
            padding: 5px 10px;
            cursor: pointer;
            transition: 0.3s all ease;

            &::after {
                display: flex;
                content: "";
                width: 20px;
                height: 20px;
                background: url("@/assets/icons/icon-dropdown.svg") no-repeat center center;
                transition: 0.3s;
            }
        }

        &__icon {
            width: 25px;
            height: 25px;
            display: flex;
            object-fit: contain;
        }

        &__title {
            color: #080b11;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__body {
            width: 150px;
            position: absolute;
            top: 100%;
            right: 0;
            background: #ffffff;
            padding: 15px 20px;
            border-radius: 10px;
            box-shadow: 0 0 30px -10px rgb(0, 0, 0, 0.15);
            font-size: 14px;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
        }

        &:hover {
            .tdb-language {
                &__body {
                    opacity: 1;
                    visibility: visible;
                }

                &__toggler {
                    opacity: 0.6;

                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}
