.tdb-menublock {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5px;
    max-height: 35px;
    transition: 0.5s;
    flex-shrink: 0;

    &__toggler {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-start;
        height: 35px;
        padding: 5px 10px;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;
        flex-shrink: 0;

        &:hover {
            background: #f9f9f9;
        }
    }

    &__label {
        color: #a1a6ac;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__icon {
        width: 15px;
        height: 15px;
        display: flex;
        object-fit: contain;
        transition: 0.3s;
        transform: rotate(180deg);
    }

    &__body {
        max-height: 600px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    &.tdb-opened {
        max-height: 635px;

        .tdb-menublock {
            &__icon {
                transform: rotate(0);
            }
        }
    }
}
