.tdb-sidebar {
    border-right: 1px solid #ecf1f5;
    background: #fff;
    width: 250px;
    height: 100%;
    padding: 10px 15px;
    overflow: auto;
    user-select: none;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    gap: 10px;
    padding-bottom: 25px;

    &::-webkit-scrollbar {
        height: 0;
        width: 0;
    }
}
