.compTable {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__head {
        display: flex;
        height: 40px;
        vertical-align: middle;
        display: flex;
        align-items: center;
    }

    &__headceil {
        display: flex;
        align-items: center;
        // text-align: center;
        // justify-content: center;
        padding: 0 10px;
        overflow: hidden;
        position: relative;

        color: #a1a6ac;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &.textCentered {
            text-align: center;
        }

        &.noshrink {
            justify-content: center;
            flex-shrink: 0;
        }
    }

    &__body {
        overflow: auto;
        height: 100%;
        width: 100%;
        border-radius: 8px;
        border: 1px solid #e5eaee;
        background: #fff;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0.02);
    }

    &__item {
        background: #fff;
        border: 1px solid transparent;
        border-bottom-color: #e5eaee;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 50px;
        flex-shrink: 0;
        width: 100%;
        position: relative;
        text-decoration: none;
        transition: all 0.3s;

        &.hoverable {
            cursor: pointer;

            &:hover {
                background: #e5eaee;
            }

            &:active {
                transform: scale(0.999);
                border-radius: 5px;
            }
        }

        img {
            width: 40px;
            height: 40px;
            display: flex;
            object-fit: cover;
            border-radius: 100%;
            margin: 0 auto;
        }
    }

    &__footer {
        background: #fafafa;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        flex-shrink: 0;
        width: 100%;
        position: relative;
        text-decoration: none;
        transition: all 0.3s;
        padding: 0 0 0 60px;
    }

    &__itemceil {
        padding: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        box-orient: vertical;
        word-wrap: break-word;

        color: #080b11;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.13px;

        &.noshrink {
            flex-shrink: 0;
        }

        &.textCentered {
            text-align: center;
        }

        &.tfooterceil {
            font-size: 14px;
            font-weight: bold;
        }
    }

    &__empty {
        background: #f7f7f7;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        height: 100%;
        flex-grow: 1;
        padding: 50px;

        &-text {
            text-align: center;
            font-size: 18px;
            color: #333333;
            font-weight: 700;
        }

        &-img {
            max-width: 500px;
            display: flex;
            object-fit: contain;
        }
    }

    &__filterby {
        background: url("@/assets/icons/icon-dropdown.svg") no-repeat center center/contain;
        display: flex;
        width: 18px;
        height: 18px;
        transition: 0.3s;
        opacity: 0.7;
        cursor: pointer;

        &.asc {
            transform: rotate(180deg);
        }
    }

    &__infobar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 25px 0 0 0;

        &-text {
            color: #5a5d63;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            align-self: flex-start;

            span {
                color: #080b11;
            }
        }
    }
}
