.compButton {
    height: 45px;
    min-width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    user-select: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 0;
    background: none;
    margin: 0;
    padding: 0 20px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: relative;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0.02);

    &__loaders {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;

        &-pin {
            display: flex;
            width: 10px;
            height: 10px;
            background: #ffffff;
            border-radius: 5px;
            animation: scaler 1s infinite ease-in-out;
            transform: scale(0);

            &:nth-child(2) {
                animation-delay: 0.3s;
            }
            &:nth-child(3) {
                animation-delay: 0.6s;
            }
        }
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        transition: 0.3s;
        color: #0067df;
    }

    &__icon {
        width: 18px;
        height: 18px;
        object-fit: contain;
        display: flex;
    }

    &.loading {
        opacity: 0.5;
        pointer-events: none;

        .compButton {
            &__text {
                font-size: 0;
            }

            &__loaders {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &.primary {
        background: #0067df;

        .compButton {
            &__text {
                color: #ffffff;
            }
        }
    }

    &:hover {
        transform: scale(1.025);
    }

    &:active {
        transform: scale(1);
    }
}

@keyframes scaler {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
