<template>
    <div class="tdb-invoices">
        <CompTable
            :tableNumerationStart="1"
            :tableCurrentPage="table.pagination.current"
            :tableTotalPages="table.pagination.total"
            :tableHead="table.tableHead"
            :tableBody="table.tableBody"
            :tableFooter="table.tableFooter"
            :tableRowHoverable="true"
            @actionPaginated="table.pagination.current = $event"
            @actionClick="tableClick"
            @actionFilter="filtert" />
    </div>
</template>

<script>
import CompTable from "@/components/FormElements/compTable.vue";
export default {
    name: "viewInvoices",
    components: {
        CompTable,
    },
    data() {
        return {
            table: {
                tableHead: [
                    {
                        key: "column_1",
                        width: "20%",
                        value: "Column 1",
                        isTextCentered: false,
                        isFilterable: true,
                    },
                    {
                        projectId: 68,
                        dataField: "edit",
                        key: "edit",
                        sortOrder: 5,
                        link: "pages/application_client?_target=blank&type=@type&id=@id",
                        title: " ",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat: 'return {\n  template: `<div><i class="mdi mdi-pencil-outline"></i></div>`\n}',
                        value: 'return {\n  template: `<div><i class="mdi mdi-pencil-outline"></i></div>`\n}',
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 32154,
                    },
                    {
                        projectId: 68,
                        dataField: "scoring",
                        key: "scoring",
                        sortOrder: 10,
                        link: null,
                        title: "Scoring натижасини кўриш",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat:
                            "return {\n  template: `<div><p v-if=\"link == null\">{{ message }}</p> <a :href=\"link\" v-else>{{ message }}</a></div>`,\n  props:['value','data'],\n  data(){\n    return {\n      link: null,\n      message: 'Ko`rib chiqilmoqda',\n      options: []\n    }\n  },\n  mounted(){\n    this.options = JSON.parse(this.$parent.table.params.scoring_status_names.value)\n    this.message = this.options.find(el=>el.status == 'IN_PROCESS').name\n    if (this.value){\n    console.log(this.data,'salom')\n\t    this.link = `https://tadbirkor.platon.uz/pages/scoring?id=${this.value}`    \n      this.message = this.data.scoring_status\n    }\n  }\n}",
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 34764,
                    },
                    {
                        projectId: 68,
                        dataField: "order_form",
                        key: "order_form",
                        sortOrder: 20,
                        link: null,
                        title: "Буюртманома",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat:
                            "return {\n  template: `<div> <div v-if=\"!link\"> {{text}} </div> <platon-link :link=\"link\" v-else>{{text}}</platon-link> </div>`,\n  props: ['value','data'],\n  data(){\n    return {\n    }\n  },\n  computed:{\n    link(){\n      if (this.data.order_form_doc_guid){\n        return `https://hujjat.uz/document/?pin=${this.data.order_form_doc_pin}&id=${this.data.order_form_doc_guid}`\n      }\n      return null\n    },\n    text(){\n      if (this.data.order_form_doc_status == 'IN_PROCESS'){\n        return this.$l('in_process','Imzolashda')\n      }\n      if (this.data.order_form_doc_status == 'FULL_SIGNED'){\n        return this.$l('full_signed','T\\'oliq imzolangan')\n      }\n      if (this.data.order_form_doc_guid){\n        return this.$l('created','Яратилган')\n      }\n\n      return this.$l('not_created','Яратилмаган')\n    }\n  }\n}",
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 40177,
                    },
                    {
                        projectId: 68,
                        dataField: "contract",
                        key: "contract",
                        sortOrder: 30,
                        link: null,
                        title: "Шартнома",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat:
                            "return {\n  template: `<div> <div v-if=\"!link\"> {{text}} </div> <platon-link :link=\"link\" v-else>{{text}}</platon-link> </div>`,\n  props: ['value','data'],\n  data(){\n    return {\n    }\n  },\n  computed:{\n    link(){\n      if (this.data.contract_doc_guid){\n        return `https://hujjat.uz/document/?pin=${this.data.contract_doc_pin}&id=${this.data.contract_doc_guid}`\n      }\n      return null\n    },\n    text(){\n      if (this.data.contract_status_v2 == 'IN_PROCESS'){\n        return this.$l('in_process','Imzolashda')\n      }\n      if (this.data.contract_status_v2 == 'FULL_SIGNED'){\n        return this.$l('full_signed','T\\'oliq imzolangan')\n      }\n      if (this.data.contract_doc_guid){\n        return this.$l('created','Яратилган')\n      }\n\n      return this.$l('not_created','Яратилмаган')\n    }\n  }\n}",
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 40204,
                    },
                    {
                        projectId: 68,
                        dataField: "created_at",
                        key: "created_at",
                        sortOrder: 40,
                        link: null,
                        title: "Буюртма санаси",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat: null,
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 32157,
                    },
                    {
                        projectId: 68,
                        dataField: "type_name",
                        key: "type_name",
                        sortOrder: 50,
                        link: null,
                        title: "Молиявий ёрдам",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat: null,
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 32158,
                    },
                    {
                        projectId: 68,
                        dataField: "doc_num",
                        key: "doc_num",
                        sortOrder: 60,
                        link: null,
                        title: "Шартнома рақами",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat: null,
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 32159,
                    },
                    {
                        projectId: 68,
                        dataField: "org_name",
                        key: "org_name",
                        sortOrder: 70,
                        link: null,
                        title: "Мижоз номи",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat: null,
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 32160,
                    },
                    {
                        projectId: 68,
                        dataField: "bank_name",
                        key: "bank_name",
                        sortOrder: 80,
                        link: null,
                        title: "Банк",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat: null,
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 32161,
                    },
                    {
                        projectId: 68,
                        dataField: "status",
                        key: "status",
                        sortOrder: 90,
                        link: null,
                        title: "Ҳолати",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat: null,
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 32162,
                    },
                    {
                        projectId: 68,
                        dataField: "bank_mfo",
                        key: "bank_mfo",
                        sortOrder: 100,
                        link: null,
                        title: "МФО",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat: null,
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 32163,
                    },
                    {
                        projectId: 68,
                        dataField: "region_name",
                        key: "region_name",
                        sortOrder: 110,
                        link: null,
                        title: "Вилоят",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat: null,
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 32164,
                    },
                    {
                        projectId: 68,
                        dataField: "district_name",
                        key: "district_name",
                        sortOrder: 120,
                        link: null,
                        title: "Мижоз ҳудуди",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat: null,
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 32165,
                    },
                    {
                        projectId: 68,
                        dataField: "credit_aim",
                        key: "credit_aim",
                        sortOrder: 190,
                        link: null,
                        title: "Кредит мақсади",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat: null,
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 32172,
                    },
                    {
                        projectId: 68,
                        dataField: "oked",
                        key: "oked",
                        sortOrder: 200,
                        link: null,
                        title: "ИФУТ коди",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat: null,
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 32173,
                    },
                    {
                        projectId: 68,
                        dataField: "org_id",
                        key: "org_id",
                        sortOrder: 210,
                        link: null,
                        title: "Мижоз СТИРи",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat: null,
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 32174,
                    },
                    {
                        projectId: 68,
                        dataField: "is_mini_business",
                        key: "is_mini_business",
                        sortOrder: 220,
                        link: null,
                        title: "Кичик бизнесга тегишли",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat: null,
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 32175,
                    },
                    {
                        projectId: 68,
                        dataField: "active",
                        key: "active",
                        sortOrder: 230,
                        link: null,
                        title: "Фаолият кўрсатиётган",
                        sumType: null,
                        hint: null,
                        width: "100px",
                        formatCondition: null,
                        formatColor: null,
                        formatBackgroundColor: null,
                        dataNowrap: null,
                        footerNowrap: null,
                        dataAlign: "center",
                        footerAlign: "center",
                        cellFormat: null,
                        numberFormat: null,
                        children: [],
                        attributes: {
                            rowspan: null,
                            sortable: null,
                        },
                        id: 32176,
                    },
                ],
                tableBody: [
                    {
                        column_1: "ABC Corporation",
                        column_2: "<p style='color:red;' >Apple</p>",
                        column_3: "45.67",
                        column_4: "Blue",
                        column_5: "<div> <p style='display: inline-block; border-radius: 6px; color: #219653; background: #E2FFEF; padding: 5px 10px;' > Buyurtma yaratilgan </p> </div>",
                        column_6: "9876543210",
                    },
                    {
                        column_1: "XYZ Industries",
                        column_2: "Banana",
                        column_3: "78.90",
                        column_4: "Red",
                        column_5: "<div> <p style='display: inline-block; border-radius: 6px; color: #F56A61; background: #FFECE8; padding: 5px 10px;' > Muddati o’tgan </p> </div>",
                        column_6: "1234567890",
                    },
                    {
                        column_1: "Global Tech Inc",
                        column_2: "Orange",
                        column_3: "12.34",
                        column_4: "Green",
                        column_5: "<div> <p style='display: inline-block; border-radius: 6px; color: #219653; background: #E2FFEF; padding: 5px 10px;' > Buyurtma yaratilgan </p> </div>",
                        column_6: "2345678901",
                    },
                    {
                        column_1: "Mega Products",
                        column_2: "Grapes",
                        column_3: "56.78",
                        column_4: "Yellow",
                        column_5: "<div> <p style='display: inline-block; border-radius: 6px; color: #219653; background: #E2FFEF; padding: 5px 10px;' > Buyurtma yaratilgan </p> </div>",
                        column_6: "3456789012",
                    },
                    {
                        column_1: "Innovate Co",
                        column_2: "Kiwi",
                        column_3: "89.01",
                        column_4: "Purple",
                        column_5: "<div> <p style='display: inline-block; border-radius: 6px; color: #219653; background: #E2FFEF; padding: 5px 10px;' > Buyurtma yaratilgan </p> </div>",
                        column_6: "4567890123",
                    },
                    {
                        column_1: "Data Systems Ltd",
                        column_2: "Pineapple",
                        column_3: "23.45",
                        column_4: "Pink",
                        column_5: "<div> <p style='display: inline-block; border-radius: 6px; color: #219653; background: #E2FFEF; padding: 5px 10px;' > Buyurtma yaratilgan </p> </div>",
                        column_6: "5678901234",
                    },
                    {
                        column_1: "Quantum Solutions",
                        column_2: "Mango",
                        column_3: "67.89",
                        column_4: "Brown",
                        column_5: "<div> <p style='display: inline-block; border-radius: 6px; color: #219653; background: #E2FFEF; padding: 5px 10px;' > Buyurtma yaratilgan </p> </div>",
                        column_6: "6789012345",
                    },
                    {
                        column_1: "Elite Enterprises",
                        column_2: "Strawberry",
                        column_3: "45.67",
                        column_4: "Orange",
                        column_5: "<div> <p style='display: inline-block; border-radius: 6px; color: #219653; background: #E2FFEF; padding: 5px 10px;' > Buyurtma yaratilgan </p> </div>",
                        column_6: "7890123456",
                    },
                    {
                        column_1: "Skyline Group",
                        column_2: "Watermelon",
                        column_3: "34.56",
                        column_4: "Black",
                        column_5: "<div> <p style='display: inline-block; border-radius: 6px; color: #219653; background: #E2FFEF; padding: 5px 10px;' > Buyurtma yaratilgan </p> </div>",
                        column_6: "9012345678",
                    },
                    {
                        column_1: "Sunburst Ltd",
                        column_2: "Papaya",
                        column_3: "78.90",
                        column_4: "White",
                        column_5: "<div> <p style='display: inline-block; border-radius: 6px; color: #219653; background: #E2FFEF; padding: 5px 10px;' > Buyurtma yaratilgan </p> </div>",
                        column_6: "8901234567",
                    },
                ],
                tableFooter: {
                    column_1: "Footer colum1",
                    column_2: "Footer colum2",
                    column_3: "Footer colum3",
                    column_4: "Footer colum4",
                    column_5: "Footer colum5",
                    column_6: "Footer colum6",
                },
                pagination: {
                    current: 2,
                    total: 20,
                },
            },
        };
    },
    methods: {
        filtert(eve) {
            console.log("Filter propertylar", eve);
            alert("Filter property logda chiqdi!");
        },

        tableClick(e) {
            console.log(e);
            alert("Bosilgan row propertlari logda chiqdi!");
        },

        log(e, index) {
            console.log(e, index);
        },
    },
};
</script>

<style lang="scss">
@import "./viewRequests.scss";
</style>
