<template>
    <BaseLayout>
        <RouterView />
    </BaseLayout>
</template>

<script>
import BaseLayout from "@/components/LayoutElements/compLayout.vue";

export default {
    name: "App",
    components: {BaseLayout},
};
</script>
