.tadbirkor-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    margin: auto;
    background: #f1f1f1;
    padding: 15px;

    &__body {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        border-radius: 10px;
        padding: 20px 10px;
    }

    &__title {
        width: 100%;
        text-align: center;
        color: #080b11;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
    }

    &__fieldset {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px;
        background: #fcfcfc;
        border-radius: 10px;
        margin-bottom: 20px;

        &-title {
            display: block;
            width: 100%;
            margin-bottom: 20px;

            color: #080b11;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
    }

    &__confirm {
        border-radius: 6px;
        background: #fff5e7;
        padding: 12px;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 12px 12px 12px 50px;

        &-icon {
            width: 30px;
            height: 30px;
            position: absolute;
            left: 12px;
            display: flex;
            object-fit: contain;
        }

        &-title {
            color: #252729;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px; /* 142.857% */
        }

        &-desc {
            color: #252729;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 138.462% */
        }
    }
}
